<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="_4.mapper.BookMapper">
<sql id="bookBaseColumn">
book_num, mem_num, store_num, theme_num, theme_time, people, price, deposit_price, final_price, dutch_price, coupon_num, book_status, group_num
</sql>
<insert id="bookInsert" parameterType="bookDTO">
insert into book (<include refid="bookBaseColumn"/>) values (#{bookNum}, #{memNum}, #{storeNum}, #{themeNum}, #{themeTime}
													  , #{people}, #{price}, #{depositPrice}, null, #{dutchPrice}, #{couponNum}, #{bookStatus}, #{groupNum})
</insert>

<select id="bookSelectOne" parameterType="string" resultType="bookDTO">
select mem_nickname
 , book_num, b.theme_num, theme_time, b.mem_num, people, price, coupon_num, book_status
 , theme_name
 from member m join book b 
 on m.mem_num = b.mem_num
 join theme t
 on b.theme_num = t.theme_num
 where book_num = #{bookNum}
</select>

<select id="bookSelectAllWithMember" parameterType="string" resultType="bookDTO">		<!-- 멤버 예약 내역 리스트 -->
select b.book_num, b.theme_num, b.theme_time, b.book_status, b.store_num
 , store_name, STORE_PROFILE_STORE_IMAGE
 from book b join store s
 on b.store_num = s.store_num
 
 where mem_num = #{memberNum}
</select>

<select id="bookSelectAllWithStore" parameterType="string" resultType="bookDTO">
select <include refid="bookBaseColumn"/> from book where store_num = #{storeNum}
</select>

<update id="themeTimeUpdate">
update book set theme_time = #{themeTime} where book_num = #{bookNum}
</update>

<update id="bookStatusUpdate">
update book set book_status = #{bookStatus} where book_num = #{bookNum}
</update>

<update id="bookFinalPriceUpdate">
update book set final_price = #{finalPrice} where book_num = #{bookNum}
</update>

<delete id="waitedBookDelete" parameterType="string">
delete from book where mem_num = #{memberNum} and book_status = '결제대기중'
</delete>

<select id="bookGroupSelectAllWithMember" parameterType="string" resultType="bookDTO">
	select b.book_num, gm.mem_num, store_num
	, theme_num, theme_time, people, price
	, deposit_price, final_price, coupon_num
	, book_status, b.group_num
	from book b 
	join group_member gm 
	on b.group_num = gm.group_num 
	where b.group_num = #{groupNum}
	and gm.mem_num = #{memberNum}
</select>


</mapper>