<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="_4.mapper.BookMapper">
<sql id="bookBaseColumn">
book_num, mem_num, store_num, theme_num, theme_time, people, price, deposit_price, final_price, coupon_num, book_status, group_num
</sql>
<insert id="bookInsert" parameterType="bookDTO">
insert into book (<include refid="bookBaseColumn"/>) values (#{bookNum}, #{memNum}, #{storeNum}, #{themeNum}, #{themeTime}
													  , #{people}, #{price}, #{depositPrice}, null, #{couponNum}, '결제대기중', #{groupNum})
</insert>

<select id="bookSelectOne" parameterType="string" resultType="bookDTO">
select <include refid="bookBaseColumn"/> from book where book_num = #{bookNum}
</select>

<select id="bookSelectAllWithMember" parameterType="string" resultType="bookDTO">
select <include refid="bookBaseColumn"/> from book where mem_num = #{memberNum}
</select>

<select id="bookSelectAllWithStore" parameterType="string" resultType="bookDTO">
select <include refid="bookBaseColumn"/> from book where store_num = #{storeNum}
</select>

<update id="themeTimeUpdate">
update book set theme_time = #{themeTime} where book_num = #{bookNum}
</update>

<update id="bookStatusUpdate">
update book set book_status = #{bookStatus} where book_num = #{bookNum}
</update>

<update id="bookFinalPriceUpdate">
update book set final_price = #{finalPrice} where book_num = #{bookNum}
</update>

<delete id="waitedBookDelete" parameterType="string">
delete from book where mem_num = #{memberNum} and book_status = '결제대기중'
</delete>

<select id="bookGroupSelectAllWithMember" parameterType="string" resultType="bookDTO">
	select <include refid="bookBaseColumn"/> from book 
	book b join group_member gm 
	where b.group_num = #{groupNum}
	and gm.mem_num = #{memNum}
</select>
</mapper>