<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="_4.mapper.EmployeeMapper">

<insert id="employeeRegist" parameterType="empDTO">
	insert into employees (EMP_NUM, EMP_ID, EMP_PW, EMP_NAME
					, EMP_BIRTH_DATE, EMP_EMAIL, EMP_PHONE, EMP_HIRE_DATE
					, EMP_JUMIN, EMP_POINT )
	values (#{empNum}, #{empId}, #{empPw}, #{empName}
			, #{empBirthDate}, #{empEmail}, #{empPhone}, sysdate
			, #{empJumin}, 0 )	
</insert>

<resultMap type="emp" id="employeeResultMap">
	<id column="EMP_NUM"				jdbcType="VARCHAR2"			property="empNum"/>
	<result column="EMP_ID"				jdbcType="VARCHAR2"			property="empId"/>
	<result column="EMP_PW"				jdbcType="VARCHAR2"			property="empPw"/>
	<result column="EMP_NAME"			jdbcType="VARCHAR2"			property="empName"/>
	<result column="EMP_BIRTH_DATE"		jdbcType="DATE"				property="empBirthDate"/>
	<result column="EMP_EMAIL"			jdbcType="VARCHAR2"			property="empEmail"/>
	<result column="EMP_PHONE"			jdbcType="VARCHAR2"			property="empPhone"/>
	<result column="EMP_HIRE_DATE"		jdbcType="DATE"				property="empHireDate"/>
	<result column="EMP_JUMIN"			jdbcType="VARCHAR2"			property="empJumin"/>
	<result column="EMP_POINT"			jdbcType="NUMBER"			property="empPoint"/>
</resultMap>

<select id="employeeAllSelect" resultMap="employeeResultMap" >
	select <include refid="employeeResultMap" />
	from employees
</select>

</mapper>