<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="_4.mapper.FindMapper">
<select id="findId" parameterType="string" resultType="string">
select mem_id
from member
where mem_name = #{_userName} and mem_phone = #{_userPhone}

union

select emp_id
from employee
where emp_name = #{_userName} and emp_phone = #{_userPhone}

union

select OWNER_ID
from owner
where OWNER_NAME = #{_userName} and OWNER_PHONE = #{_userPhone}
</select>

<update id="pwUpdate" parameterType="userChangePassword">
update ${tableName}
set ${pwColumName}  = #{userPw}
where ${userIdColumName}  = #{userId} 
and ${phoneColumn} = #{userPhone}
</update>

<select id="userEmail" resultType="authDTO">
select mem_email userEmail, 'member' grade
from member
where mem_id = #{_userId} and MEM_PHONE = #{_userPhone}

union

select emp_email userEmail, 'employee' grade
from employee
where emp_id = #{_userId} and EMP_PHONE = #{_userPhone}

union

select OWNER_EMAIL userEmail, 'owner' grade
from owner
where OWNER_NAME = #{_userName} and OWNER_PHONE = #{_userPhone}
</select>
</mapper>