<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="_4.mapper.FriendAddReqMapper">

<insert id="friendAddRequestInsert" parameterType="friendAddRequestDTO">
insert into friend( friend_req_num, from_num, to_num, friend_request_date )
values ( #{friendReqNum}, #{fromnum}, #{tonum}, sysdate )
</insert>

<select id="friendSelectOne">
select friend_req_num, from_num, to_num, friend_request_date
from friend where from_num = #{fromnum}
</select>

</mapper>