<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="_4.mapper.GroupMapper">
	<select id="groupMemberSearch" parameterType="string" resultType="groupDTO">
		select mem_name, m.mem_num, f.friend_num, mem_nickname from member m 
		join friendList f
		on m.mem_num = f.friend_num
		where f.mem_num = #{memNum} and mem_Name like concat(concat('%', #{memName}), '%')
		or f.mem_num = #{memNum} and mem_nickname like concat(concat('%', #{memName}), '%')
	</select>
	<insert id="groupInsert" parameterType="groupDTO">
		insert into group_list (group_num, group_name, leader_num)
		values (#{groupNum}, #{groupName}, #{memNum})
	</insert>
	<insert id="groupMemberAlarmInsert" parameterType="groupDTO">
		insert into group_member_alarm (group_num, mem_num)
		values (#{groupNum}, #{memNum})
	</insert>
	<insert id="groupMemberInsert" parameterType="groupDTO">
		insert into group_member (GROUP_NUM, MEM_NUM)
		values(#{groupNum}, #{memNum})
	</insert>
	<select id="groupSelectAll" parameterType="string" resultType="groupDTO">
		select l.group_num, group_name from group_list l join 
		group_member gm
		on l.group_num = gm.group_num
        join member m
        on m.mem_num = gm.mem_num
		where gm.mem_num = #{memNum}
	</select>
	<select id="groupMemberSelectAll" parameterType="groupDTO" resultType="groupDTO">
		select mem_name, mem_nickname, gm.mem_num, group_num from member m
		join group_member gm 
		on m.mem_num = gm.mem_num
		where group_num = #{groupNum}
	</select>
	<select id="groupMemberSelectOne" parameterType="groupShareDTO" resultType="groupShareDTO">
		select mem_name, mem_nickname, gm.mem_num, group_num from member m
		join group_member gm 
		on m.mem_num = gm.mem_num
		where group_num = #{groupNum} and gm.mem_num = #{memNum}
	</select>
	<select id="groupAlarmCount" parameterType="string" resultType="Integer">
		select count(group_num) from group_member_alarm 
		where mem_num = #{memNum} and group_member_alarm_status is null
	</select>
	<select id="groupAlarmSelectAll" parameterType="string" resultType="groupDTO">
		select gma.group_num, group_name from group_member_alarm gma
		join group_list gl
		on gma.group_num = gl.group_num
		where mem_num = #{memNum} and group_member_alarm_status is null
	</select>
	<update id="groupAlarmEnter" parameterType="groupDTO">
		update group_member_alarm set group_member_alarm_status = 'Y'
		where group_num = #{groupNum} and mem_num = #{memNum}
	</update>
	<delete id="groupAlarmQuit">
		delete from group_member_alarm 
		where group_num = #{groupNum} and mem_num = #{memNum}
	</delete>
	<select id="groupNameSelect" parameterType="groupDTO" resultType="string">
		select group_name from group_list
		where group_num = #{groupNum}
	</select>
	<insert id="groupDutchAlarmInsert">
		insert into groupDutchAlarm (group_num, book_num, mem_num, dutch_price)
		values (#{groupNum}, #{bookNum}, #{memNum}, ${dutchPrice})
	</insert>
	<select id="groupDutchAlarmCount" parameterType="string" resultType="Integer">
		select count(*) from groupdutchalarm
		where dutch_status is null and mem_num = #{memNum}
	</select>
	<select id="groupDutchAlarmSelectAll" parameterType="string" resultType="groupDTO">
		select gda.group_num, group_name, book_num from groupdutchalarm gda join group_list gl
		on gda.group_num = gl.group_num
		where dutch_status is null 
		and mem_num = #{memNum}
	</select>
	<select id="groupPaymentHistorySelectAll" parameterType="string" resultType="groupDTO">
		select group_num, book_num, gda.mem_num, mem_name, mem_nickname
		, dutch_price, dutch_status
		from groupdutchalarm gda join member m
		on gda.mem_num = m.mem_num
		where group_num = #{groupNum}
		and dutch_status is not null
	</select>
	<select id="memberDutchPaymentCheckSelectOne" parameterType="string" resultType="groupDTO">
		select *
		from groupdutchalarm
		where group_num = #{groupNum}
		and dutch_status is null and mem_num = #{memNum}
	</select>
</mapper>