<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="_4.mapper.MemberMapper">
<sql id="memberBaseColumns">
MEM_NUM, MEM_ID, MEM_PW, MEM_NAME, MEM_BIRTH_DATE, MEM_EMAIL, MEM_PHONE, MEM_EMAIL_CONF, MEM_POINT, MEM_NICKNAME, last_login_time, status
</sql>

<insert id="memberRegist" parameterType="memberDTO">
insert into member(MEM_NUM, MEM_ID, MEM_PW, MEM_NAME
		, MEM_BIRTH_DATE, MEM_EMAIL, MEM_PHONE, MEM_EMAIL_CONF, MEM_POINT, MEM_NICKNAME, mem_regist_date)
values (#{memNum}, #{memId}, #{memPw}, #{memName}
		, #{memBirthDate}, #{memEmail}, #{memPhone}, null, 0, #{memNickname}, sysdate)
</insert>

<select id="memberSelectOne" parameterType="string" resultType="memberDTO">
	select <include refid="memberBaseColumns"/>
	from member
	where MEM_NUM = #{memNum}
</select>

<update id="memberUpdate" parameterType="memberDTO">
update member set
	MEM_EMAIL = #{memEmail},
	MEM_PHONE = #{memPhone}
	<where>
		MEM_NUM = #{memNum}
	</where>
</update>

<update id="wishCheck" parameterType="string">
	merge into wish w
	using (select mem_num from member) m
     on (w.mem_num = m.mem_num)
     
	when matched then 
	update set wish_date = SYSDATE
    delete where mem_num = #{userNum} and store_num = #{storeNum}
    
    when not matched then 
    insert (MEM_NUM, STORE_NUM, WISH_DATE)
    values(#{userNum}, #{storeNum}, SYSDATE)
</update>

<update id="memberPwUpdate" >
	update member
	set mem_pw = #{_newPw}
	where mem_id = #{_memId}
</update>

<select id="memberNumSelect" parameterType="string" resultType="string">
	select mem_num from member where mem_id = #{memId}
</select>

<delete id="memberDelete">
delete from member where mem_id = #{userId}
</delete>

<select id="lastLoginGetDate" parameterType="authDTO" resultType="java.util.Date">
select nvl(last_login_time, sysdate) from member where mem_id = #{userId}
</select>

<update id="memberStatusUpadate" parameterType="string">
update member set status = null 
	where mem_num = #{memNum}
</update>

</mapper>