<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="_4.mapper.PurchaseMapper">
	<insert id="paymentInsert" parameterType="paymentDTO">
		insert into payment(PURCHASE_NUM,CONFIRM_NUMBER,CARD_NUM,TID,TOTAL_PRICE
		,RESULT_MESSAGE,PAY_METHOD,APPL_DATE,APPL_TIME)
		values(#{purchaseNum},#{confirmNumber},#{cardNum},#{tid}
		,#{totalPrice},#{resultMessage}
		,#{payMethod},#{applDate},#{applTime})
	</insert>
	<!-- 1인 결제인 경우 -->
	<update id="paymentCheck" parameterType="string">
	update book set book_status = '결제완료' where book_num = #{bookNum}
	</update>
	<!-- 그룹 결제인 경우 -->
	<update id = "groupPaymentCheck" parameterType="String">
	update groupdutchalarm set dutch_status = '결제완료'
	where book_num = #{bookNum} and mem_num = #{memNum}
	</update>
	<!-- 모든 그룹원의 결제가 완료되었는지 확인하기 -->
	<select id="groupPaySuccess" parameterType="string" resultType="string">
	select DISTINCT '미결제' from groupdutchalarm
	where book_num = #{bookNum} and dutch_status is null
	</select>
	<!-- 쿠폰 사용 완료 처리 -->
	<update id="patmentCouponCheck" parameterType="string">
	update memberCoupon set COUPON_STATUS = '사용완료' 
	where COUPON_NUM = (select coupon_num from book 
	where book_num = #{bookNum}) 
	and MEM_NUM = (select mem_num from book
	where book_num = #{bookNum})
	</update>
	<update id="themeTimeBookStatusUpdate">
	update book set book_status = '예약완료' 
	where book_num = #{bookNum} and theme_time not like '종일권'
	</update>
	<update id="paymentPointCheck" parameterType="string">
	update member_point set POINT_UPDATE_TIME = SYSDATE
	where book_num = #{bookNum} and mem_num = #{memNum}
	</update>
	<update id="memberPointUpdate" parameterType="string">
	update member set mem_point = mem_point + nvl((select nvl(used_point, 0) from member_point 
	where book_num = #{bookNum}
	and mem_num = #{memNum} and POINT_STATUS is null), 0)
	where mem_num = #{memNum}
	</update>
	<update id="afterPaySuccess" parameterType="string">
	update book set book_status = '후불결제완료'
	where book_num = #{bookNum}
	</update>
	<update id="pointStatusUpdate" parameterType="string">
	update member_point set POINT_STATUS = '반영'
	where book_num = #{bookNum} and mem_num = #{memNum}
	</update>
</mapper>