<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="_4.mapper.PurchaseMapper">
	<insert id="paymentInsert" parameterType="paymentDTO">
		insert into payment(PURCHASE_NUM,CONFIRM_NUMBER,CARD_NUM,TID,TOTAL_PRICE
		,RESULT_MESSAGE,PAY_METHOD,APPL_DATE,APPL_TIME)
		values(#{purchaseNum},#{confirmNumber},#{cardNum},#{tid}
		,#{totalPrice},#{resultMessage}
		,#{payMethod},#{applDate},#{applTime})
	</insert>
</mapper>