<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="_4.mapper.ReviewMapper">
<sql id="reviewBaseColumn">
review_num, book_num, mem_num, store_num, review_contents, review_date, review_answer_contents, star_rate, review_image, review_store_image
</sql>

<insert id="reviewInsert" parameterType="reviewDTO">
insert into review (<include refid="reviewBaseColumn"/>)
 values (#{reviewNum}, #{bookNum}, #{memNum}, #{storeNum}, #{reviewContents}, sysdate, null, #{starRate}, #{reviewImage}, #{reviewStoreImage})
</insert>

<update id="reviewAnswerInsert" parameterType="reviewDTO">
update review set review_answer_contents = #{reviewAnswerContents} where review_num = #{reviewNum}
</update>

<select id="reviewSelectOne" parameterType="string" resultType="reviewDTO" >
select <include refid="reviewBaseColumn"/>
 from review
 where review_num = #{reviewNum}
</select>

<select id="reviewSelectAll" parameterType="string" resultType="reviewDTO">
select <include refid="reviewBaseColumn"/>
 from review
 where store_num = #{storeNum}
</select>

<select id="reviewSelectOneWithBookNum" parameterType="string" resultType="reviewDTO">
select <include refid="reviewBaseColumn"/> from review where book_num = #{bookNum}
</select>

<update id="reviewUpdate" parameterType="reviewDTO">
update review set
	review_contents = #{reviewContents},
	review_date = sysdate,
	review_image = #{reviewImage}
 where review_num = #{reviewNum}
</update>

<update id="reviewAnswerUpdate" parameterType="reviewDTO">
update review set
	review_answer_contents = #{reviewAnswerContents},
	review_answer_date = sysdate
 where review_num = #{reviewNum}
</update>

<delete id="reviewDelete" parameterType="string">
delete from review where review_num = #{reviewNum}
</delete>

<delete id="reviewAnswerDelete" parameterType="string">
update review set
	review_answer_contents = null,
	review_answer_date = null
 where review_num = #{reviewNum}
</delete>
</mapper>