<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="_4.mapper.UserMapper">
<select id="login" parameterType="string" resultType="authDTO">
select mem_id as userId, mem_pw as userPw, mem_name as userName, mem_email as userEmail, 'member' as grade from member where mem_id = #{userId}
 union select emp_id, emp_pw, emp_name, emp_email, 'employee' from employee where emp_id = #{userId}
 union select owner_id, owner_pw, owner_name, owner_email, 'owner' from owner where owner_id = #{userId}

</select>

<select id="loginSelectOne" parameterType="string" resultType="authDTO">
select mem_id as userId, mem_pw as userPw, mem_name as userName, mem_email as userEmail, 'member' as grade from member where mem_id = #{userId}
 union select emp_id, emp_pw, emp_name, emp_email, 'employee' from employee where emp_id = #{userId}
 union select owner_id, owner_pw, owner_name, owner_email, 'owner' from owner where owner_id = #{userId}
</select>

<update id="userCheckUpdate" parameterType="string">
update member
	set MEM_EMAIL_CONF = 'T'
	where MEM_EMAIL_CONF is null
	and mem_email = #{memEmail}
</update>

<update id="save">
update member set last_login_time = sysdate,
	status = 'T'
	where mem_id = #{userId}
</update>


</mapper>