<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>코스 시스템</title>

<style type="text/css">

.location {
padding:20px;
border-color: black; 
border-width: 2px; 
border-style: solid;
height: 804px;
width: 404px;
}
.container {
  display: flex;
  height: 854px; 
  width: 404 * 3px; /*하나의 location box 너비 * 수량*/
}
</style>
</head>
<body>

<h1>코스</h1>

<div class = "container">
	
	<div class="location">
		
		<form action="location" method = "post">
			출발지: <input type = "text" name = "location">
			<input type = "submit" value = "지정">
		</form>
		<br>
			<ul>
				<li>1번 장소</li>
				<li style="list-style-type:none;">| 이동 시간 3분</li>
				<li>2번 장소</li>
			</ul>
	</div>
	

	<div class = "location">
		<!-- 키워드 검색 페이지 연동하기 -->
		<form action = "" method = "post">
			키워드: <input type = "text" name = "keyword">
			<input type = "submit" value = "검색">
		</form>
	</div>
	
	<div class = "location">
		
	</div>

</div>
</body>
</html>