<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>코스 시스템</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
function moreCaption(){
	var preview = $(".captionPreview");
	var showMore = $(".fullCaption");
	
	if(preview.css("display")==="none"){
		showMore.css("display", "block");
	}else {
		showMore.css("display", "none");
	}
}
$(function(){
	var mediaId = $(".leftBtn").val();
	$(".leftBtn").click(function(){
		mediaId = mediaId + 1;
	})
	$().click(function(){
		mediaId = mediaId -1;
	})
	nextImg(mediaId);
})
function nextImg(mediaId){
	$.ajax({
		type: "POST",
		url: "/map/nextMedia",
		data: {"mediaId":mediaId},
		success: function(result){
			alert("success");
		}, 
		error: function(){
			alert("error");
		}
	});
}
</script>
<style type="text/css">

.location {
padding:20px;
border-color: black; 
border-width: 2px; 
border-style: solid;
height: 804px;
width: 404px;
}
.container {
  display: flex;
  height: 854px; 
  width: 404 * 3px; /*하나의 location box 너비 * 수량*/
}
</style>
</head>
<body>

<h1>코스</h1>

<div class = "container">
	
	<div class="location">
		
		<form action="location" method = "post">
			출발지: <input type = "text" name = "location">
			<input type = "submit" value = "지정">
		</form>
		<br>
			<ul>
				<li>1번 장소</li>
				<li style="list-style-type:none;">| 이동 시간 3분</li>
				<li>2번 장소</li>
			</ul>
	</div>
	

	<div class = "location">
		<!-- 키워드 검색 페이지 연동하기 -->
		<form action = "keywordSearch" method = "post">
			키워드: <input type = "text" name = "keyword">
			<input type = "submit" value = "검색">
		</form>
		<br>
		<th:block th:each="reel:${reels}">
		<input type = "hidden" name = "mediaId" th:value = "${reel['mediaId']}">
			<th:block th:if="${reel['mediaType']!='video'}">
				<img th:src="${reel['mediaUrl']}" controls style="width: 100%">
				    <!--th:block th:if="${#strings.length(reel['caption'])>10}">
				        <p th:text="${#strings.substring(reel['caption'], 0, 10)}" id="captionPreview"></p>
				        <button onclick="leftImg()" style="float: left;"> &lt; </button>
				        <button onclick="rightImg()" style="float: right;"> &gt; </button>
				        
				    </th:block-->
				    <button class="leftBtn" th:value = "${reel['mediaId']}" style="float: left;"> &lt; </button>
				    <button onclick="rightImg()" style="float: right;"> &gt; </button>
				    <p th:text="${reel['caption']}"></p>
		    </th:block>
		    <th:block th:if="${reel['mediaType']=='video'}">
			    <video th:src="${reel['mediaUrl']}" controls style="width: 100%"></video>
				    <!--th:block th:if="${#strings.length(reel['caption'])>10}">
					    <p th:text="${#strings.substring(reel['caption'], 0, 10)}" id = "captionPreview"></p>
					    <button onclick="moreCaption()">more</button>
					    
			    	</th:block-->
			    	<button onclick="leftImg()" style="float: left;"> &lt; </button>
				    <button onclick="rightImg()" style="float: right;"> &gt; </button>
			    	<p th:text="${reel['caption']}"></p>
		    </th:block>
		</th:block>
	</div>
	
	<div class = "location">
		
	</div>

</div>
</body>
</html>