<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body{
	display:flex;
	align-items:flex-start;
}
</style>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
var originalMaxOrder = Number("[[${#numbers.formatInteger(maxOrder,1)}]]");
var maxCount = originalMaxOrder + 1;
var courseNum = "[[${cDTO.courseNum}]]";
var deleteCheck = "N";
function storeList(courseNum, count, deleteCheck){
	$.ajax({
		type: "post",
		url: "/course/storeList",
		data: {"courseNum":courseNum, "courseCount":count, "deleteCheck":deleteCheck},
		dataType: "html",
		success: function(result){
			$("#storeList").html(result);
			$("#order").text(count);
		},
		error: function(){
			alert("courseDetail.html의 storeList() 오류");
		}
	});
}

function fillHeart(idx){
	$("#image"+idx).attr("src","/static/upload/heart_filled.png");
	$("#image"+idx).attr("width","60");
	$("#image"+idx).attr("height","50");
}

function storedStoreName(idx, storeName){
	$("#storedStoreName_"+idx).text(storeName);
}

function addCourse(){
	item = "<span>";
	item += "	<img width='80' height='80' src='/static/upload/heart.png' id='image" + maxCount + "' onclick='storeList(&#39;a&#39;, " + maxCount + ", &#39;N&#39;);'/>";
	item += "	<span id='storedStoreName_" + maxCount + "' style='position:fixed'></span><br/>";
	item += "	<input type='hidden' id='course" + maxCount + "' value='" + maxCount + "'/>";
	item += "	<input type='hidden' th:id='&#39;storedStoreNum_&#39;+" + maxCount + "' th:value='${dto.storeNum}'/>;";	
	item += "</span>";
	maxCount = maxCount + 1;
	$("#course").append(item);
}

function deleteCourse(courseNum){
	var result = confirm("정말 삭제하시겠습니까?");
	if(result){
		$.ajax({
			type: "post",
			url: "/course/courseDelete",
			data: {"courseNum":courseNum},
			success: function(){
				window.location.href="/course/courseList";
			},
			error: function(){
				alert("courseDetail의 deleteCourse()오류");
			}
		});
	}
	else{
		return false;
	}
}

// 부분 삭제
function deleteStore(order){
	// 보이는 것들 삭제
	var newOrder = 0;
	$("#image" + order).remove(); // 삭제할 순서의 이미지 삭제
	$("#storedStoreName_" + order).remove(); // 삭제할 순서의 가게명 삭제
	for(var i = 1; i <= maxCount - 1; i++){
		if(i > order){ // 삭제한 순서의 다음 가게들일 경우
			$("#image" + i).attr("onclick","storeList('a','" + (i - 1) + "', 'Y')");
			$("#image" + i).attr("id","image"+ (i - 1));
			$("#storedStoreName_" + i).attr("id", "storedStoreName_" + (i - 1));
			newOrder = i - 1;
		}
	}
	// 세션의 번호도 앞당기게
	maxCount = maxCount - 1;
	// 바뀐 코스의 정보를 세션에 저장
	for(var j = 1; j < maxCount; j ++){
		var storeNum = $("#storedStoreNum_" + j).val();
		sessionUpdate(storeNum, j);
	}
}
function sessionUpdate(storeNum, order){
	$.ajax({
		type: "post",
		url: "/course/courseDetailSession",
		data: {"courseNum" : courseNum, "storeNum" : storeNum, "courseOrder":order},
		success: function(){
			storeList(corseNum, order, 'Y');
		},
		error: function(){
			alert("courseDetail.html의 sessionUpdate() 오류");
		}
	});
}
//저장하기를 눌렀을 경우 그대로 저장
function updateCourse(courseNum, courseName){
	var courseName = $("input[name='courseName']").val();
	if(courseName == ""){
		alert(" 코스명을 입력해 주세요.");
		return false;
	}
	// course 및 courseDetail을 완전히 저장하는 함수
	$.ajax({
		type: "post",
		url: "/course/courseUpdate",
		data: {"maxOrder" : maxCount, "courseName" : courseName, "courseNum" : courseNum, "originalMaxOrder" : originalMaxOrder},
		success: function(){
			alert("저장되었습니다.");
			window.location.href="/course/courseList";
		},
		error: function(){
			alert("courseDetail의 updateCourse() 오류");
		}
	});
}
</script>
</head>
<body>
<!-- 좌측 바 -->
<div style="border:1px solid black; position:relative; left:20px; width:450px; height:800px;" align="center">
	<div id="storeList"></div>
</div>

<!-- 중앙 바 -->
<div style="border:1px solid black; width:450px; height:800px; position:absolute;left:500px;"align="center" id="courseBar"><br/>
	코스명 : <input type="text" name="courseName" th:value="${cDTO.courseName}"/><br/>
	<span id="course">
		<div th:each="dto, idx : ${cdList}">
			<img width="60" height="50" src="/static/upload/heart_filled.png" th:attr="onclick=|storeList('${dto.courseNum}','${dto.courseOrder}', 'N');|" th:id="'image' + ${dto.courseOrder}"/>
			<span th:id="'storedStoreName_'+${idx.count}" style="position:fixed;">[[${dto.storeName}]]</span><br/>
			<input type="hidden" th:id="'storedStoreNum_'+${idx.count}" th:value="${dto.storeNum}"/>
		</div>
	</span>
	<button type="button" onclick="addCourse();"> + </button><br/>
	<button type="button" th:attr="onclick=|updateCourse('${cDTO.courseNum}');|">수정하기</button>
	<button type="button" th:attr="onclick=|deleteCourse('${cDTO.courseNum}');|">삭제하기</button>
</div>

<!-- 우측 바 -->
<div style="position:relative; right:-520px; width:550px; height:800px;">
<iframe src="https://map.naver.com/p/directions" width="900" height="900"></iframe>
</div>
</body>
</html>