<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body{
	display:flex;
	align-items:flex-start;
}
</style>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
var count = 2;
var maxOrder = "";
function storeList(courseNum, order){
	$.ajax({
		type: "post",
		url: "/course/storeList",
		data: {"courseNum":courseNum, "courseCount":order},
		dataType: "html",
		success: function(result){
			$("#storeList").html(result);
			$("#order").text(order);
		},
		error: function(){
			alert("cousreForm의 storeList() 오류");
		}
	});
}
function fillHeart(idx){
	$("#image"+idx).attr("src","/static/upload/heart_filled.png");
	$("#image"+idx).attr("width","60");
	$("#image"+idx).attr("height","50");
}
function storedStoreName(idx, storeName){
	$("#storedStoreName_"+idx).text(storeName);
}
function addCourse(){
	item = "<span>";
	item += "	<img width='80' height='80' src='/static/upload/heart.png' id='image" + count + "' onclick='storeList(&#39;a&#39;, " + count + ");'/>";
	item += "	<span id='storedStoreName_" + count + "' style='position:fixed'></span><br/>";
	item += "	<input type='hidden' id='cousrse" + count + "' value='" + count + "'/>";
	item += "</span>";
	count = count + 1;
	$("#course").append(item);
}
function insertCourse(){
	maxOrder = count;
	var courseName = $("input[name='courseName']").val();
	if(courseName == ""){
		alert(" 코스명을 입력해 주세요.");
		return false;
	}
	// course 및 courseDetail을 완전히 저장하는 함수
	$.ajax({
		type: "post",
		url: "/course/courseInsert",
		data: {"maxOrder" : maxOrder, "courseName" : courseName},
		dataType: "text",
		success: function(answer){
			if(answer == "Y"){
				alert("저장되었습니다.");
				window.location.href="/course/courseList";
			}
			else{
				alert("첫 번째 장소를 입력해 주세요.");
				return false;
			}
		},
		error: function(){
			alert("insertCourse() 오류");
		}
	});
}

// 부분 삭제
function deleteStore(order){
	var newOrder = 0;
	$("#image" + order).remove(); // 삭제할 순서의 이미지 삭제
	$("#storedStoreName_" + order).remove(); // 삭제할 순서의 가게명 삭제
	for(var i = 1; i <= count - 1; i++){
		alert(i + "번째 반복문");
		if(i > order){ // 삭제한 순서의 다음 가게들일 경우
			//-- order;
			alert("삭제할 번호 : " + order);
			alert("삭제할 번호의 다음 코스의 번호 : " + i)
			alert("i - 1의 값은 :" + (i - 1));
			//var item = "<img width='80' height='180' src='/static/upload/heart.png'  id='image" + (i - 1) + "' onclick='storeList(&#39;a&#39;, " + (i - 1) + ");'/>"; //
			//$("#image" + i).html(item);
			$("#image" + i).attr("onclick","storeList('a','" + (i - 1) + "')");
			$("#image" + i).attr("id","image"+ (i - 1));
			$("#storedStoreName_" + i).attr("id", "storedStoreName_" + (i - 1));
			newOrder = i - 1
			alert("다음 코스의 새 번호 : " + newOrder);
		}
	}
	alert("newOrder : " + newOrder);
	// 세션의 번호도 앞당기게
	sessionUpdate();
	storeList("1", newOrder);
}
/*function sessionUpdate(){
	$.ajax({
		type: "post",
		url: "/course/sessionUpdate",
		data: {},
	});
}*/
</script>
</head>
<body>
<!-- 좌측 바 -->
<div style="border:1px solid black; position:relative; left:20px; width:450px; height:800px;" align="center">
	<div id="storeList"></div>
</div>
<!-- 중앙 바 -->
<div style="border:1px solid black; width:450px; height:800px; position:absolute;left:500px;"align="center"><br/>
	코스명 : <input type="text" name="courseName"/><br/>
	<span id="course">
		<img width="80" height="80" src="/static/upload/heart.png" id="image1" onclick="storeList('a', 1);"/>
		<span id="storedStoreName_1" style="position:fixed"></span><br/>
	</span>
	<button type="button" onclick="addCourse();"> + </button><br/>
	<button type="button" onclick="insertCourse();">저장하기</button>
</div>
<!-- 우측 바 -->
<div style="position:relative; right:-520px; width:550px; height:800px;">
<iframe src="https://map.naver.com/p/directions" width="900" height="900"></iframe>
</div>
</body>
</html>