<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div align = "center">
	<a href="/">홈으로</a>
</div>
<table align="center" border="1" width="600">
	<tr><th>코스 목록</th></tr>
	<tr th:each="courseDTO : ${courseList}"><td>
		<a th:href="|/course/courseDetail?courseNum=${courseDTO.courseNum}|">
		코스명 : [[${courseDTO.courseName}]]<br/><br/>
		<span th:each="courseDetailList : ${courseDetailTotalList}">
			<span th:each="courseDetailDTO : ${courseDetailList}">
				<th:block th:if="${courseDetailDTO.courseNum} == ${courseDTO.courseNum}">
					[[${courseDetailDTO.storeName}]] -
				</th:block>
			</span>
		</span>
		</a>
	</td></tr>
</table>
</body>
</html>