<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
var courseOrder = "[[${storeCount}]]";
	
$(function(){
	var storeName = $("input[name=storeSearch]").val();
	// 처음 화면이 생성될 때는 모든 storeList 뿌리기
	allStoreList();
	// 검색할 시 검색된 가게 리스트 뿌리기
	$("input[name=storeSearch]").on("change keyup", function(){
		var storeName = $("input[name=storeSearch]").val();
		$.ajax({
			type: "post",
			url: "/store/storeSearch",
			data: {"storeName" : storeName},
			dataType: "html",
			success: function(result){
				$("#storeTable").html(result);
			},
			error: function(){
				//alert("storeList.html의 searchStore() 오류");
			}
		});
	});
})

function allStoreList(){
	$.ajax({
		type: "post",
		url: "/store/storeList",
		dataType: "html",
		success: function(result){
			$("#storeTable").html(result);
		},
		error: function(){
			alert("storeList.html의 allStoreList() 오류");
		}
	});
};

function storeAdd(storeNum, storeName){
	var storeCheck = confirm(storeName + "(으)로 선택하시겠습니까?");
	if(storeCheck){
		// 세션에 courseDetail을 임시 저장하는 함수
		$.ajax({
			type: "post",
			url: "/course/courseAdd",
			data: {"storeNum" : storeNum, "courseOrder" : courseOrder, "storeName" : storeName},
			success: function(){
				alert(storeName + "이 저장되었습니다.");
				storeList('1', courseOrder);
				fillHeart(courseOrder);
				storedStoreName(courseOrder, storeName);
			},
			error: function(){
				alert("selectedStore() 오류");
			}
		});
	}
	else{
		return false;
	}
}

function storedStoreDelete(storeNum, order){
	$.ajax({
		type: "post",
		url: "/course/storedStoreDelete",
		data: {"storeNum" : storeNum, "order" : order},
		success: function(){
			deleteStore(order);
		},
		error: function(){
			alert("storeList.html의 storedStoreDelete() 오류");
		}
	});
};
</script>
</head>

<body>
<span id="order"></span><br/>
<br/><br/>
<th:block th:if="${storedStoreDTO != null}">
	<table border="1" width="400">
		<tr><td>이미지</td><td>[[${storedStoreDTO.storeName}]]</td></tr>
	</table>
</th:block>
<!-- 검색해서 가게 리스트를 다시 출력하는 기능 -->
검색 : <input type="text" name="storeSearch"/><br/><br/>
<div id="storeTable"></div>
<th:block th:if="${storedStoreDTO} != null">
	<button type="button" th:attr="onclick=|storedStoreDelete('${storedStoreDTO.storeNum}', '${storeCount}');|">삭제하기</button>
</th:block>
</body>
</html>