<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>storeForm</title>
</head>
<body>

<h1>가게 신청서</h1>
<form action = "storeForm" method = "post" enctype = "multipart/form-data">
<br>
가게명: <input type = "text" name = "storeName" placeholder="가게명">
<br>
가게 주소: <input type = "text" name = "storeAddr" placeholder="가게 주소">
<br>
가게 상세 주소: <input type = "text" name = "storeAddrDetail" placeholder="가게 상세 주소">
<br>
가게 설명: <input type = "text" name = "storeIntroduction" placeholder="가게 설명">
<br>
개업일: <input type = "date" name = "storeOpenDate" placeholder="개업일">
<br>
사업자 등록증: <input type = "file" name = "bussRegistImage" placeholder="사업자 등록증">
<br>
사업자 등록 번호: <input type = "text" name = "bussRegistNum" placeholder="사업자 등록 번호">
<br>
<input type = "submit" value = "등록">
</form>

</body>
</html>