<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
직원 등록페이지 입니다.
<form action="empRegist" method="post">
	<table border="1" width="500" align="center">
		<tr>
			<td>직원 번호</td>
			<td><input type="text" name="empNum" readonly="readonly"/>자동부여</td>
		</tr>
		
		<tr>
			<td>직원 이름</td>
			<td><input type="text" name="empName" /></td>
		</tr>
		
		<tr>
			<td>아이디</td>
			<td><input type="text" name="empId" /></td>
		</tr>
		
		<tr>
			<td>비밀번호</td>
			<td><input type="password" name="empPw" /></td>
		<tr>
		
		<tr>
			<td>비밀번호 확인</td>
			<td><input type="password" name="empPwCon" /></td>
		<tr>
		
		<tr>
			<td>주민번호</td>
			<td><input type="date" name="empJumin" /></td>
		</tr>
		
		<tr>
			<td>생년월일</td>
			<td><input type="date" name="empBirthDate" /></td>
		</tr>
		
		<tr>
			<td>직원 전화번호</td>
			<td><input type="tel" name="memPhone" /></td>
		</tr>
		
		<tr>
			<td>직원 이메일</td>
			<td><input type="email" name="memEmail" /></td>
		</tr>
		
		<tr><td colspan="2" align="center"><input type="submit" value="등록" /></td></tr>
	</table>
</form>
</body>
</html>