<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<table border="1" width="500" align="center">
<tr><th colspan="2">내 정보 보기</th></tr>
<tr>
	<td width="160">이름</td>
	<td>[[${employeeCommand.empName}]]</td>
</tr>
<tr>
	<td>아이디</td>
	<td>[[${employeeCommand.empId}]]</td>
</tr>
<tr>
	<td>입사일</td>
	<td>[[${#dates.format(employeeCommand.empHireDate, 'yyyy-MM-dd')}]]</td>
</tr>

<tr>
	<td>이메일</td>
	<td>[[${employeeCommand.empEmail}]]</td>
</tr>

<tr>
	<td>휴대전화</td>
	<td>[[${employeeCommand.empPhone}]]</td>
</tr>
<tr>
	<td>복지 포인트</td>
	<td>[[${employeeCommand.empPoint}]]</td>
</tr>
<tr>
	<td>마지막 포인트 지급일</td>
	<td>[[${#dates.format(employeeCommand.pointGetDate, 'yyyy-MM-dd')}]]</td>
</tr>
<tr><th colspan="2"><a th:href="|employeeModify?empNum=${employeeCommand.empNum}|">직원 정보 수정</a> | <a href="/">홈으로</a></th></tr>
</table>
</body>
</html>