<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type = "text/javascript">
$(function(){
	let idAvailable = false;  // 아이디 중복 여부
    let emailAvailable = false;  // 이메일 중복 여부
	
	// 아이디 중복 검사
	$("#empId").on("change keyup", function(){
		$.ajax({
			type : 'post',
			url : "/login/userIdCheck",
			data : {"userId" : $("#empId").val()},
			dataType : 'text',
			success: function(result){
				$("#idCheck").text(result)
				if(result.trim() == "사용가능한 아이디입니다.") {
					$("#idCheck").css("color", "blue");
					 idAvailable = true;  
				}else{
					$("#idCheck").css("color", "red");
					idAvailable = false;  
				}
				
			},
			error: function(){
				 alert("서버 오류");
			}
		})
	});
    
	// 이메일 중복 체크
	$("#empEmail").on("change keyup", function(){
		$.ajax({
			type : "post",
			url : "/login/userEmailCheck",
			dataType : 'text',
			data : {"userEmail" : $("#empEmail").val()},
			success:function(result){
				$("#emailCheck").text(result)
				if(result.trim() == "사용가능한 이메일입니다.") {
					$("#emailCheck").css("color", "blue");
					 emailAvailable = true;  
				}else{
					$("#emailCheck").css("color", "red");
					emailAvailable = false;  
				}
			},
			error : function(){
				alert("서버 오류");
			}
		})
	});
	// 폼 제출 시 아이디와 이메일 중복 검사
    $("form").on("submit", function() {
        if (!idAvailable) {
            alert("아이디가 중복되었습니다. 다른 아이디를 사용해주세요.");
            return false;  
        }
        if (!emailAvailable) {
            alert("이메일이 중복되었습니다. 다른 이메일을 사용해주세요.");
            return false;  
        }
        return true;  
    });
	
});
</script>
</head>
<body>
<a href="employeeList">직원 목록 페이지</a>
직원 등록페이지 입니다.
<form action="employeeRegist" method="post" onsubmit="return FormCheck" >
	<table border="1" width="500" align="center">
		
		<tr>
			<td>직원 이름</td>
			<td><input type="text" name="empName" /></td>
		</tr>
		
		<tr>
			<td>아이디</td>
			<td><input type="text" name="empId" id="empId"/>
				<span id="idCheck"></span></td>
		</tr>
		
		<tr>
			<td>비밀번호</td>
			<td><input type="password" name="empPw" /></td>
		<tr>
		
		<tr>
			<td>비밀번호 확인</td>
			<td><input type="password" name="empPwCon" /></td>
		<tr>
		
		<tr>
			<td>주민번호</td>
			<td><input type="text" name="empJumin" /></td>
		</tr>
		
		<tr>
			<td>생년월일</td>
			<td><input type="date" name="empBirthDate" /></td>
		</tr>
		
		<tr>
			<td>직원 전화번호</td>
			<td><input type="tel" name="empPhone" /></td>
		</tr>
		
		<tr>
			<td>직원 이메일</td>
			<td><input type="email" name="empEmail" id="empEmail" />
				<span id="emailCheck"></span></td>
		</tr>
		
		<tr><td colspan="2" align="center"><input type="submit" value="등록" /></td></tr>
	</table>
</form>
</body>
</html>