<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.couponShowBtn{
background: none;
border: none; 
outline:none;
font-size: 20px;
}

</style>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
var people = $("#people").val();
people = 1;
var themePrice = "[[${themeDTO.themePrice}]]";
var totalPrice = themePrice;
var discountedPrice = totalPrice;


$(function(){
	//그룹 리스트 숨기기
	$(".groupList").hide();
	//이니시스 결제 버튼 숨기기
	$(".payBtn").hide();
	//뒤로 가기 버튼 숨기기
	$(".couponShowBtn").hide();
	
	$("#people").text(people);
	$("#totalPrice").text(themePrice);
	$("#lastPeople").val(people);
	$("#lastPrice").val(totalPrice);
	$(".discountedPrice").text(totalPrice);
	$("#discountedPrice").val(totalPrice);
	//쿠폰 적용 후 금액 표기
	$(".useCoupon").click(function(){
		//모든 .couponNum의 name을 "coupon"으로 초기화
		$(".couponNum").attr("name", "coupon");
		//선택된 라디오 버튼의 값
		var selectedRadio = $("input[type=radio][name=selectCoupon]:checked").val();
		//선택된 라디오 버튼의 쿠폰 번호
		var selectedCoupon = $("input[type=radio][name=selectCoupon]:checked").closest("td").find(".couponNum");
		
		if(selectedRadio != undefined){
			var totalPrice = $("#totalPrice").text();
			//쿠폰 적용 후 금액 (총 금액)
			
			// n% 할인
			if(selectedRadio < 99){
				discountedPrice = totalPrice - totalPrice * (selectedRadio / 100);
			}
			// n원 할인
			else if(selectedRadio >= 100){
				discountedPrice = totalPrice - selectedRadio;
			}
			//<input type = "hidden" name = "coupon"> -> <name = "couponNum"> 변경
			$(selectedCoupon).attr("name", "couponNum");
			discountedPrice = Math.ceil(discountedPrice);
			$(".discountedPrice").text(discountedPrice);
			$("#discountedPrice").val(discountedPrice);
		}
	});
	getDeposit();
});
function getDeposit(){
	var depositPrice = "";
	$.ajax({
		type: "post",
		url: "/order/depositPrice",
		data: {"discountedPrice":discountedPrice, "storeNum":"[[${themeDTO.storeNum}]]"},
		dataType: "text",
		success: function(item){
			$("#depositPrice").text(item);
			$(".depositPrice").val(item);
		},
		error: function(){
			alert("depositPrice 가져오기 실패");
		}
	})
}
function minusPeople(){
	if(people <=1 ) return false;
	people -= 1;
	$("#people").text(people);	
	totalPrice = themePrice * people
	$("#totalPrice").text(totalPrice);
	$("#lastPeople").val(people);
	$("#lastPrice").val(totalPrice);
	$("#discountedPrice").val(totalPrice);
}
function plusPeople(){
	if(people >= "[[${themeDTO.limitPeople}]]"){
		return false;
	}
	people += 1;
	$("#people").text(people);
	totalPrice = themePrice * people
	$("#totalPrice").text(totalPrice);
	$("#lastPeople").val(people);
	$("#lastPrice").val(totalPrice);
	$("#discountedPrice").val(totalPrice);
}
function a(){
	if($("#depositPrice").val() == 0){
		alert("예약되었습니다.");
	}
}

function groupCheck(){
	$(".couponShowBtn").show();
	$(".groupList").show();
	$(".payBtn").show();
	$(".groupShowBtn").hide();
	$(".content").hide();
}

function back(){
	$(".couponShowBtn").hide();
	$(".groupList").hide();
	$(".payBtn").hide();
	$(".content").show();
	$(".groupShowBtn").show();
}


</script>
</head>
<body>

<form action="/order/payment" method="post" onsubmit="return a();">
	
	<input type="hidden" name="themeNum" th:value="${themeDTO.themeNum}"/>
	<input type="hidden" name="themeTime" th:value="${themeTime}"/>
	<input type="hidden" name="people" id="lastPeople"/>
	<input type="hidden" name="price" id="lastPrice"/>
	<input type="hidden" name="depositPrice" class="depositPrice"/>
	<!-- input type="hidden" name="discountedPrice" id="discountedPrice" value ="0"/-->
	<div style="width:800px;height:1200px;border:1px solid black;position:absolute;left:550px;" align=center>
		테마 명 : [[${themeDTO.themeName}]]<br/>
		시간 : [[${themeTime}]]<br/>
		
	<div class="content">
		인원 : <a href="javascript:minusPeople()">-</a> <span id="people"></span> <a href="javascript:plusPeople()">+</a> <br/>
		가격 : <span id="totalPrice"></span><br/>
		<br/>
		<!-- 쿠폰 적용 하는 부분 -->
		<table border = "1" width="200">
			<th:block th:each="list:${couponList}">
				 <!-- <input type = "hidden" name = "couponNum" th:value = "${list.couponNum}"> -->
				<input type = "hidden" class = "expirationDate" name = "expirationDate" th:value = "${list.expirationDate}">
				<th:block th:if="${today < list.expirationDate}">
					<th:block th:if = "${list.couponStatus != '사용완료'}">
						<a th:href = "|/coupon/couponDetail?couponNum=${list.couponNum}|" style="text-decoration: none; color: black;">
						<tr>
							<th rowspan="2"><input type = "radio" name = "selectCoupon" th:value = "${list.discountRate}">
							<input type = "hidden" name = "coupon" class = "couponNum" th:value = "${list.couponNum}">
							</th>
							<th>[[${list.couponName}]]</th><td rowspan="2">[[${list.discountType}]]</td>
						</tr>
						<tr>
							<th><h1>[[${list.discountRate}]]
							<th:block th:if="${list.discountRate < 100}">%</th:block>
							<th:block th:if="${list.discountRate >= 100}">₩</th:block>
							</h1></th>
						</tr>
						</a>
					</th:block>
				</th:block>
			</th:block>
		<tr>
			<th colspan="3"><button type = "button" name = "useCoupon" class = "useCoupon">쿠폰 적용</button></th>
		</tr>
	</table>
	</div>
	<br>
	<table border = "1" width="200">
		<tr>
			<th colspan="3">할인된 가격: <span class="discountedPrice"></span>원</th>
		</tr>
		<tr>
			<th>예약금: <span id="depositPrice"></span>원</th>
		</tr>
	</table>
		
		<div class = "groupList">
			<h4>결제 방식을 선택해주세요.<button type="button" onclick="back();" class="couponShowBtn">↩️</button></h4>
			<table style="margin:20px; width:300px;" border="1">
			   <tr>
			       <td><input type="radio" name = "groupNum"></td>
			       <td colspan="2">혼자 결제하기</td>
			   </tr>
			   <th:block th:each="myGroupList:${myGroupList}">
			   
			   <tr>
			   	   <td><input type="radio" name = "groupNum" th:value="${myGroupList.groupNum}"></td>
			       <td><a th:href = "|/group/groupDetail?groupNum=${myGroupList.groupNum}|">그룹</a></td>
			       <td><a th:href = "|/group/groupDetail?groupNum=${myGroupList.groupNum}|">[[${myGroupList.groupName}]]</a></td>
			   </tr>
			   <tr>
			   		<th colspan="3"><a th:href = "|/group/groupDetail?groupNum=${myGroupList.groupNum}|">참여자</a></th>
			   </tr>
			   <th:block th:each="groupMemberList:${groupMemberList}">
			   <tr>
			   	<td colspan="3"><a th:href = "|/group/groupDetail?groupNum=${myGroupList.groupNum}|">[[${groupMemberList.memNickname}]]([[${groupMemberList.memName}]])</a></td>
			   </tr>
			   </th:block>
			   </th:block>
			</table>
		</div>
		
		<button type="button" onclick="groupCheck();" class="groupShowBtn">결제하기</button>
		<button type="submit" class = "payBtn">결제하기</button>
	</div>
</form>
</body>
</html>