<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>couponDetail</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">

$(function(){
	$(".memNickname").keyup(function(){
		
		var memNickname = $(".memNickname").val();
		var couponCode = $(".couponCode").val();
		
		if(memNickname != ""){
			$.ajax({
				type: "POST",
				url: "/coupon/memberSearch",
				data: {
					"memNickname":memNickname,
					"couponCode":couponCode
				},
				success: function(memberSearchList){
					const memNone = "";
					$(".memberSearch").html('');
					
					 memberSearchList.forEach(function(member) {
			            const memberRow = `
			                <tr>
			                    <th>닉네임</th>
			                    <td onclick="memberCouponSend('${member.memNickname}')";>${member.memNickname}</td>
			                </tr>
			                `;
			            $(".memberSearch").append(memberRow);  // 테이블에 행 추가
			        });
				},
				error: function(){
				}
				
			})
		}
	})
	
})

function memberCouponSend(memNickname){
	var couponCode = "[[${dto.couponCode}]]";
	
	$.ajax({
		type: "POST",
		url: "/coupon/memberCouponSend",
		data: {
			"memNickname":memNickname,
			"couponCode" :couponCode
		},
		success: function(){
			alert(memNickname + "님에게 선물이 전송되었습니다.");
		},
		error: function(){}
	})
}

</script>
</head>
<body>
<h1>[[${dto.couponName}]] 쿠폰</h1>
<th:block th:if="${session.auth.grade != 'member'}">
<table border = "1">
<thead>
<tr><th>쿠폰 코드</th><td colspan="2">[[${dto.couponCode}]]</td></tr>
<tr><th>쿠폰 선물하기</th><td><input type = "text" class = "memNickname" placeholder="선물할 분의 닉네임을 입력해주세요." size = "37">
</td></tr>
</thead>
<tbody class = "memberSearch">
<th:block th:each="memberSearchList:${memberSearchList}">
</th:block>
</tbody>
</form>

</table>
</th:block>
<br>
<table border = "1">
<tr>
<th>[[${dto.couponName}]]</th><td rowspan="2">[[${dto.discountType}]]</td>
</tr>

<tr>
<th><h1>[[${dto.discountRate}]]
<th:block th:if="${dto.discountRate < 100}">%</th:block>
<th:block th:if="${dto.discountRate >= 100}">₩</th:block>
</h1></th>
</tr>
<tr>
<th>쿠폰 만료일</th><td colspan="2">[[${#dates.format(dto.expirationDate, 'yyyy-MM-dd')}]]</td>
</tr>
<tr>
<th>쿠폰 안내</th><td colspan="2">[[${dto.couponNote}]]</td>
</tr>
<th:block th:if="${session.auth.grade != 'member'}">
<tr>
<td colspan="3" style="text-align:center;">
<form action = "/coupon/couponModify" method = "POST">
<input type = "hidden" th:value = "${dto.couponNum}" name = "couponNum">
<input type = "submit" value = "수정">
<a th:href = "|/coupon/couponDelete?couponNum=${dto.couponNum}|"><button type = "button">삭제</button></a>
</form></td>
</tr>
</th:block>
</table>

</body>
</html>