<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#category{
	border:1px solid black;
	width:800px;
	height:300px;
	position:absolute;
	left:550px;
}
</style>
</head>
<body>
<th:block th:if="${session.auth != null}">
	안녕하세요 님
</th:block>
<ul>
	<li><a href="/member/memberList">회원 리스트</a></li>
	<li><a href="/employee/employeeList">회원 리스트</a></li>
</ul>
<th:block th:if="${session.auth == null}">
	<a href="/user/loginForm">로그인</a>
</th:block>
<th:block th:if="${session.auth != null}">
	<a href="/user/logout">로그아웃</a>
</th:block>
<br/>
<a href="/owner/ownerForm">사장 회원가입</a>
</body>

<div id="category">
카테고리
</div>

<div style="border:1px solid black;width:800px;height:700px;position:absolute;left:550px;top:450px">
가게 리스트
</html>