<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body{
	display:flex;
	align-items:flex-start;
}
</style>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
var count = 1;
var maxOrder = "";
$(function(){
})
function storeList(count){
	$.ajax({
		type: "post",
		url: "/course/storeList",
		data: {"courseCount":count},
		dataType: "html",
		success: function(result){
			$("#storeList").html(result);
		},
		error: function(){
			alert("storeList() 오류")
		}
	});
}
function addCourse(){
	item = "<span>";
	item += "	<img width='80' height='80' src='/static/upload/heart.png' onclick='storeList(" + count + ");'/><br/>";
	item += "	<input type='hidden' id='cousrse" + count + "'/>";
	item += "</span>";
	count = count + 1;
	$("#course").append(item);
}
function insertCourse(){
	maxOrder = count;
	// course 및 courseDetail을 완전히 저장하는 함수
	var courseName = $("input[name='courseName']").val();
	$.ajax({
		type: "post",
		url: "/course/courseInsert",
		data: {"maxOrder" : maxOrder, "courseName" : courseName},
		success: function(){
			alert("저장되었습니다.");
		},
		error: function(){
			alert("insertCourse()");
		}
	});
}
</script>
</head>
<body>
<!-- 좌측 바 -->
<div style="border:1px solid black; position:relative; left:20px; width:450px; height:800px;" align="center">
	<div id="storeList"></div>
</div>
<!-- 중앙 바 -->
<div style="border:1px solid black; width:450px; height:800px; position:absolute;left:500px;"align="center">
	<br/>코스명 : <input type="text" name="courseName" /><br/>
	<span id="course">
		<img width="80" height="80" src="/static/upload/heart.png" onclick="storeList(0);"/><br/>
		<input type="hidden" id="course0"/>
	</span>
	<button type="button" onclick="addCourse();"> + </button> 
	<button type="button" onclick="insertCourse();">저장하기</button>
</div>
<!-- 우측 바 -->
<div style="position:relative; right:-520px; width:550px; height:800px;">
<iframe src="https://map.naver.com/p/directions" width="900" height="900"></iframe>
</div>
</body>
</html>