<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type = "text/javascript">
var check = 0;
$(function(){
    var currentUserNickname = $("#currentUserNickname").val(); 
    // 친구 중복 검사
    $("input[name=nickName]").on("change keyup", function(){
    	var friendNickname = $("#friendNickname").val();
        // 자신에게 친구 추가를 시도할 경우 처리
        /*if (friendNickname == currentUserNickname) {
            $("#friendCheck").text("자신에게 친구 추가를 할 수 없습니다.");
            $("#friendCheck").css("color", "red");
        }*/
        // 
        $.ajax({
            type : 'post',
            url : "/friends/friendNickCheck",
            data : {"userFriend" : friendNickname},
            dataType : 'text',
            success : function(result) {
                $("#friendCheck").text(result);
                if(result.trim() == "친구 가능한 닉네임입니다.") {
                    $("#friendCheck").css("color", "blue");
                    check = 0;
                }
                else if(result.trim() == "자신에게 친구 추가를 할 수 없습니다."){
                	$("#friendCheck").css("color", "red");
                	check = 1;
                }
                else if(result.trim() == "이미 존재하는 친구입니다."){
                	$("#friendCheck").css("color", "red");
                	check = 1;
                }
                else if(result.trim() == "이미 요청한 상태입니다."){
                	$("#friendCheck").css("color", "red");
                	check = 1;
                }
                else {
                    $("#friendCheck").css("color", "red");
                }
            },
            error : function() {
                $("#friendCheck").text("오류가 발생했습니다.");
                $("#friendCheck").css("color", "red");
            }
        });
    });
});
function FriendCheck() {
	if(check == 1) {
		alert("닉네임을 확인해 주세요.");
		return false;
	}
	else return true;
}
</script>
</head>
<body>
<form action="/friends/friendAddReq" method="post" onsubmit="return FriendCheck();" >
	<table border="1" width="600" align="center">
		<input type="hidden" id="currentUserNickname" th:value="${nickname}">
		<tr><td>닉네임</td><td><input type="text" name="nickName" id="friendNickname"/><span id="friendCheck"></span></td></tr>
		<tr><td colspan="2" align="center"><input type="submit" value="친구추가"/></td></tr>
	</table>
</form>
</body>
</html>