<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<style type="text/css">
body{
	display: flex;
	align-items: flex-start;
}
.groupDetail{
	margin: 20px;
}
.bookDetail{
	margin: 20px;
}
</style>
</head>
<body>

<div class = "groupDetail">
	<table border ="1">
		<tr>
			<th>그룹명</th><td>[[${groupName}]]</td>
		</tr>
		<tr>
			<th colspan="2">그룹원</th>
		</tr>
		<th:block th:each="groupDetailList:${groupDetailList}">
		<tr>
		<td colspan="2">[[${groupDetailList.memNickname}]]([[${groupDetailList.memName}]])</td>
		</tr>
		</th:block>
	</table>
</div>

<div class = "bookDetail">
	<table border="1" align="center" width="500">
		<tr><th>예약 내역</th></tr>
		<tr th:each="dto : ${list}"><td>
			<a th:href="|/book/memberBookDetail?bookNum=${dto.bookNum}|">[[${dto.bookNum}]],[[${dto.storeNum}]], 가게명, 가게 이미지</a>
		</td></tr>
	</table>
</div>
</body>
</html>