<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>그룹</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<style type="text/css">
.group{
	display: flex;
	align-items: flex-start;
}
.GroupForm{
	margin: 20px;
}
.groupAlarm{
	margin: 20px;
}
a {
	text-decoration: none;
	color: inherit;
}
</style>
<script type="text/javascript">

$(function(){
	
	//알림 수
	$.ajax({
		type: "POST",
		url: "/group/alarmCount",
		success: function(alarmCount){
			$(".alarmCount").val(alarmCount);
		},
		error: function(){}
	})
	
	//초대할 그룹원 검색
	$(".GroupMemberSearch").keyup(function(event){
		
		var memName = $(".GroupMemberSearch").val();
		
		if(memName != ""){
			$.ajax({
				type: "POST",
				url: "/group/GroupMemberSearch",
				data: {memName: memName},
				success: function(groupList){
					$(".NewGroupMember").html(null);
					groupList.forEach(function(group){
						const NewMemberRow = `
							<tr>
								<td onclick="MemberInsert('${group.memName}', '${group.friendNum}', '${group.memNickname}');" data-memNum = "${group.friendNum}">${group.memNickname}(${group.memName})</td>
							</tr>`;
						$(".NewGroupMember").append(NewMemberRow);
					})
				},
				error: function(){
				}
			})
		}
		
	})
	
})

function MemberInsert(memName, memNum, memNickname){
	let duplicate = false;
	
	$(".GroupMember td").each(function(){
		if($(this).data("memnum") === memNum){
			duplicate = true;
		}
	})
	
	if(!duplicate){
		const GroupMember = `
			<tr>
				<td data-memNum = "${memNum}">${memNickname}(${memName})
					<input type = "hidden" name = "memName" value = "${memName}">
					<input type = "hidden" name = "memNum" value = "${memNum}">
				</td>
				<td>
					<div id = "memberExcept" onclick="memberExcept(event);">&nbsp;x&nbsp;
					</div>
				</td>
			</tr>
			`;
			
			$(".GroupMember").append(GroupMember);
	}else {
		alert("이미 등록되었습니다.");
	}
		
}

function memberExcept(event){
	var member = event.target.closest('tr');
	member.remove();
}

function groupYes(groupNum){
	$.ajax({
		type: "POST",
		url: "/group/groupEnter",
		data: {groupNum:groupNum},
		success: function(){
			alert("수락되었습니다.");
			window.location.reload();
		},
		error: function(){}
	})
}

function groupNo(groupNum){
	$.ajax({
		type: "POST",
		url: "/group/groupQuit",
		data: {groupNum:groupNum},
		success: function(){
			alert("거절되었습니다.");
			window.location.reload();
		},
		error: function(){}
	})
}

function groupRegistCheck(){
	if($(".GroupMember td").length > 0){
		return true;
	}else{
		alert("그룹원을 한 명 이상 추가해주세요.");
		return false;
	}
}

</script>
</head>
<body>

<h1>그룹</h1>

<div class = "group">

	<table style="margin:20px; width:300px;" border="1">
	   <tr>
	       <th colspan="1">내 그룹</th><td>❤️💕🪼</td>
	   </tr>
	   <th:block th:each="myGroupList:${myGroupList}">
	   
	   <tr>
	       <td><a th:href = "|/group/groupDetail?groupNum=${myGroupList.groupNum}|">그룹</a></td>
	       <td><a th:href = "|/group/groupDetail?groupNum=${myGroupList.groupNum}|">[[${myGroupList.groupName}]]</a></td>
	   </tr>
	   <tr>
	   		<th colspan="2"><a th:href = "|/group/groupDetail?groupNum=${myGroupList.groupNum}|">참여자</a></th>
	   </tr>
	   <th:block th:each="groupMemberList:${groupMemberList}">
		   <th:block th:if="${myGroupList.groupNum}==${groupMemberList.groupNum}">
			   <tr>
			   	<td colspan="2"><a th:href = "|/group/groupDetail?groupNum=${myGroupList.groupNum}|">[[${groupMemberList.memNickname}]]([[${groupMemberList.memName}]])</a></td>
			   </tr>
		   </th:block>
	   </th:block>
	   </th:block>
	</table>
	    
	<div class = "GroupForm">
		<form action = "/group/GroupForm" method = "POST" onsubmit="return groupRegistCheck();">
		그룹명: <input type = "text" name = "groupName" required="required">
		<br><br>
		<table >
			<thead>
				<tr>
					<td>멤버 추가하기: <input type = "search" class = "GroupMemberSearch"></td>
				</tr>
			</thead>
			<tbody class = "NewGroupMember">
			</tbody>
		</table>
		<br>
		<table>
			<thead>
				<tr>
					<th colspan="2">그룹원</th>
				</tr>
			</thead>
			<tbody class = "GroupMember">
			</tbody>
		</table>
		<input type = "submit" value = "그룹 등록" class = "groupRegistBtn">
		</form>
	</div>
	
	<div class = "groupAlarm">
		<block class = "alarmBox">알림함</block> <input type = "number" class = "alarmCount" value ="" readonly="readonly">
		<br><br>
			
			<table border = "1" width = "450px;">
			<th:block th:each="groupAlarmList:${groupAlarmList}">
				<th:block th:if="${groupAlarmList!=null}">
					<thead>
						<tr>
							<td colspan="3">그룹 이름</td>
						</tr>
					</thead>
				
				</th:block>
				<tbody>
					<tr>
						<td width="300px;">
							[[${groupAlarmList.groupName}]]에서 초대가 왔습니다.
						</td>
					
						<th>
							<button type = "button"
								th:attr="onclick=|groupYes('${groupAlarmList.groupNum}');|">수락
							</button>
						</th>
						<th>
							<button type = "button"
								th:attr="onclick=|groupNo('${groupAlarmList.groupNum}');|">거절
							</button>
						</th>
					</tr>
				</tbody>
			</th:block>
				<th:block th:each="groupDutchAlarmList:${groupDutchAlarmList}">
					<th:block th:if="${groupDutchAlarmList!=null}">
						<thead>
							<tr>
								<td colspan="3">그룹 이름</td>
							</tr>
						</thead>
					
					</th:block>
					<tbody>
						<tr>
							<td width="300px;">
								[[${groupDutchAlarmList.groupName}]]에서 결제 요청이 왔습니다.
							</td>
						
							<th colspan="2">
								<!--  form action = "/group/groupMemberPayment" method = "POST"-->
								<form action = "/book/groupAfterPay" method = "POST">
									<input type = "hidden" name = "groupNum" th:value="${groupDutchAlarmList.groupNum}">
									<input type = "hidden" name = "bookNum" th:value="${groupDutchAlarmList.bookNum}">
									<input type = "submit" value="결제하기">
								</form>
							</th>
						</tr>
					</tbody>
				</th:block>
			</table>
			
	</div>
</div>

</body>
</html>