<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<style type="text/css">
body{
	display: flex;
	align-items: flex-start;
}
.groupDetail{
	margin: 20px;
}
.bookDetail{
	margin: 20px;
}
</style>
</head>
<body>

<div class = "groupDetail">
	<table border ="1">
		<tr>
			<th>그룹명</th><td>[[${groupName}]]</td>
		</tr>
		<tr>
			<th colspan="2">그룹원</th>
		</tr>
		<th:block th:each="groupDetailList:${groupDetailList}">
		<tr>
		<td colspan="2">[[${groupDetailList.memNickname}]]([[${groupDetailList.memName}]])</td>
		</tr>
		</th:block>
	</table>
</div>

<div class = "bookDetail">
	<th:block th:each="dto : ${list}">
		<table border="1" align="center" width="500">
			<tr><th>예약 내역</th></tr>
			<tr><td>
				<a th:href="|/group/groupBookDetail?bookNum=${dto.bookNum}|">[[${dto.bookNum}]],[[${dto.storeNum}]], 가게명, 가게 이미지</a>
			</td></tr>
		<br>
	<th:block th:each="groupPaymentHistoryList:${groupPaymentHistoryList}">
	<th:block th:if="${dto.bookNum} == ${groupPaymentHistoryList.bookNum}">
		<tr>
			<th>결제한 그룹원</th>
		</tr>
		<tr>
			<td style = "text-align:center;">[[${groupPaymentHistoryList.memNickname}]]([[${groupPaymentHistoryList.memName}]])</td>
		</tr>
		<tr>
			<th>더치페이 금액</th>
		</tr>
		<tr>
			<td style="text-align:center;">[[${groupPaymentHistoryList.dutchPrice}]]원</td>
		</tr>
	<th:block th:each="memberPay:${memberPay}">
	<th:block th:if="${dto.bookNum} == ${memberPay.bookNum}">
		<tr>
			<th>
				<form action = "/group/groupDutchPay" method = "POST">
					<input type = "hidden" name = "groupNum" th:value="${groupPaymentHistoryList.groupNum}">
					<input type = "hidden" name = "bookNum" th:value="${groupPaymentHistoryList.bookNum}">
					<input type = "submit" value="결제하기">
				</form>
			</th>
		</tr>
	</th:block>
	</th:block>	
	</th:block>
	</th:block>
	</table>
	</th:block>
</div>

<div>
<th:block th:each="groupPaymentHistoryList:${groupPaymentHistoryList}">
	<a th:href = "|/map/mapPage?groupNum=${groupPaymentHistoryList.groupNum}|" style ="text-decoration:none; color:black;">코스 만들러 가기</a>
</th:block>
</div>
</body>
</html>