<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">


function reviewAnswerForm(){
	$("#reviewFormBtn").css("display","none");
	$("#reviewBtn").css("display","block");
	$("#reviewContent").css("display","block");
	//view_100001
}
function reviewAnswer(reviewNum){
	var reviewAnswerContents = $("#reviewContent").val();
	$.ajax({
		type: "post",
		url: "/review/reviewAnswer",
		data: {"reviewNum":reviewNum, "reviewAnswerContents":reviewAnswerContents},
		success: function(){	
			reviewManage();
		},
		error: function(){
			alert("reviewManagePage-reviewAnswer() 오류");
		}
	})
}

function reviewAnswerModify(reviewNum){
	var reviewAnswerContents = $("#reviewAnswerContents").val();
	$.ajax({
		type: "post",
		url: "/review/reviewAnswerModify",
		data: {"reviewNum":reviewNum, "reviewAnswerContents":reviewAnswerContents},
		success: function(){
			reviewManage();
		},
		error: function(){
			alert("서버 오류");
		}
	})
}
function reviewAnswerDelete(reviewNum){
	$.ajax({
		type: "post",
		url: "/review/reviewAnswerDelete",
		data: {"reviewNum":reviewNum},
		success: function(){
			reviewManage();
		},
		error: function(){
			alert("서버 오류");
		}
	})
}
</script>
</head>
<body>
<table border="1" align="center" width="800">
	<tr><th>리뷰 목록</th></tr>
	<tr th:each="dto : ${list}"><td>
		[[${dto.memNum}]]<br/>
		[[${dto.reviewDate}]]<br/>
		테마 내역 <br/>
		[[${dto.reviewContents}]]
		<br/>
		<th:block th:if="${dto.reviewAnswerContents == null}">
			<button type="button" id="reviewFormBtn" th:attr="onclick=|reviewAnswerForm();|" style="display:block;">답변하기</button>
			<textarea cols='60' rows='5' name='reviewAnswerContents' id="reviewContent" style="display:none;"></textarea><br/>
			<button type='button' id="reviewBtn" th:attr="onclick=|reviewAnswer('${dto.reviewNum}');|" style="display:none;">저장</button>
		</th:block>
		<th:block th:if="${dto.reviewAnswerContents != null}">
			<textarea rows="5" cols="60" name="reviewAnswerContents" id="reviewAnswerContents">[[${dto.reviewAnswerContents}]]</textarea>
			<button type="button" th:attr="onclick=|reviewAnswerModify('${dto.reviewNum}')|">수정</button>
			<button type="button" th:attr="onclick=|reviewAnswerDelete('${dto.reviewNum}')|">삭제</button>
		</th:block>
	</td></tr>
</table>
</body>
</html>