 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
var kind = $("")
function fileDel(btn,orgFile, storeFile, kind, index){
	$.ajax({
		type:'post',
		url:'/file/fileDel',
		data:{"orgFile": orgFile , "storeFile" : storeFile},
		dataType:'text',
		success:function(result){			
			if(result == "1"){
				$(btn).text("삭제취소");
				if(kind == 'main'){
					$("#main").css("display","none");
					$("#mainFile").html("<input type='file' name='storeProfileImage' />");
				}
				else{ 
					$("#detail_" + index).css("display","none");
					$("#detailFile_" + index).html("<input type='file' name='storeDetailImage' multiple='multiple'/>");
				}
			}else{
				$(btn).text("삭제");
				if(kind=='main'){
					$("#main").css("display","");
					$("#mainFile").html("");
				}
				else{
					$("#detail_" + index).css("display","");
					$("#detailFile_" + index).html("");
				}
			}
		},
		error:function(){
			alert("서버오류");
		}
	});
}
function fileChk(){
	let fileInput = $("input[name='storeProfileImage']");
    // 파일 입력 필드가 있고 파일이 선택되지 않은 경우
    if (fileInput.length > 0 && !fileInput[0].files.length) {
        alert("파일을 선택해주세요.");
        return false;  // 유효성 검사 실패 시 요청 중단
    }
}
function depositOptionPlus(){
	var item = "<input type='text' name='startPrice' size='5' placeholder='최소값'/><input type='text' name='endPrice' size='5'  placeholder='최대값'/><input type='text' name='depositRate' placeholder='예약금 비율'/><br/>";
	$("#depositZone").append(item);
}
</script>
</head>
<body>
<div align="center">
<form action="/store/storeInfoModify" method="post" enctype="multipart/form-data" onsubmit="return fileChk();">
<input type="hidden" name="storeNum" th:value="${dto.storeNum}"/>
<table align="center" border="1" width="800">
	<tr><th colspan="2">가게 정보 수정</th></tr>
	<tr><td>가게명</td><td><input type="text" name="storeName" th:value="${dto.storeName}" readonly="readonly"/></td></tr>
	<tr><td>가게 분류</td><td><input type="text" name="storeType" th:value="${dto.storeType}" readonly="readonly"/></td></tr>
	<tr><td>가게 소개</td><td><textarea name="storeIntroduction" cols="20" rows="10">[[${dto.storeIntroduction}]]</textarea></td></tr>
	<tr><td>가게 휴무일</td><td><textarea name="storeClosedDate" cols="20" rows="5">[[${dto.storeClosedDate}]]</textarea></td></tr>
	<tr><td>가게 영업시간</td><td><textarea name="storeOpenTime" cols="20" rows="10">[[${dto.storeOpenTime}]]</textarea></td></tr>
	<tr><td>가게 주소</td><td><input type="text" name="storeAddr" th:value="${dto.storeAddr}" readonly="readonly"/></td></tr>
	<tr><td>가게 상세 주소</td><td><input type="text" name="storeAddrDetail" th:value="${dto.storeAddrDetail}" /></td></tr>
	
	<tr><td>가게 프로필 이미지</td>
		<td><span id="mainFile"></span>
			<span id="main">[[${dto.storeProfileImage}]]</span>
			<button type="button" th:attr="onclick=|javascript:fileDel(this, '${dto.storeProfileImage}'
									, '${dto.storeProfileStoreImage}', 'main', '1');|">삭제</button>
		</td></tr>
	
	<tr><td>가게 상세 이미지:</td>
		<td>
			<div th:each="image, idx : ${#strings.arraySplit(dto.storeDetailImage,'[`/]')}">
			<span th:id="'detailFile_' + ${idx.index}"></span>
			<span th:id="'detail_' + ${idx.index}">[[${image}]]</span><button type="button" th:attr="onclick=|javascript:fileDel(this,'${image}'
					,'${#strings.arraySplit(dto.storeDetailStoreImage,'[`/]')[idx.index]}', 'detail', '${idx.index}');|">삭제</button>
		</div><br/>
	</td></tr>
	 
	 <tr><td>혼잡도</td><td>	
	 				  <select name="storeCrowded" id="storeCrowded" >
	 				  	  <option value="여유" th:selected="${dto.storeCrowded == '여유'}">여유</option>
	 				  	  <option value="만석" th:selected="${dto.storeCrowded == '만석'}">만석</option>
	 				  </select>
	 			 </td></tr>
	 <tr><td>예약금 설정</td><td>
	 						  <div id="depositZone">
	 						  <div id="depositOption" th:each="ddto : ${depositList}">
	 						  	 <input type="text" name="startPrice" th:value="${ddto.startPrice}"/><input type="text" name="endPrice" th:value="${ddto.endPrice}"/><input type="text" name="depositRate" th:value="${ddto.depositRate}"/>
	 						  </div>
	 						  </div>
	 						  <button type="button" onclick="depositOptionPlus();"> + </button>
	 					  </td></tr>
	<tr><th colspan="2"><input type="submit" value="수정"/></th></tr>
</table>
</form>
</div>
</body>
</html>