<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.couponShowBtn{
background: none;
border: none; 
outline:none;
font-size: 20px;
}

</style>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
var depositPrice = "[[${dto.depositPrice}]]";//예약금
var totalPrice = "[[${dto.finalPrice}]]";//총금액
var afterDutchTotalPrice = totalPrice - depositPrice;//후불금액


$(function(){

	//후불 금액 = finalPrice - depositPrice
	$("#afterDutchTotalPrice").text(afterDutchTotalPrice);
	$(".afterPrice").text(afterDutchTotalPrice);
	
	var afterPrice = parseInt($(".afterPrice").text()); //결제금액
	var afterDutchPrice = parseInt($(".afterDutchPrice").text()); //더치페이 금액
	
	//쿠폰 적용 후 금액 표기
	$(".useCoupon").click(function(){
		couponDiscount();
	});
	
	$(".noCoupon").click(function(){
		$("input[name='selectCoupon']").prop('checked', false);
		//1인 결제
		if($("input[type='checkbox']:visible").length == 0){
			pointCount();
		}else{
			//그룹 결제
			dutchPrice();
			pointCount();
		}
		
	});
	
});

	//결제금액
function payPrice(){

	//1인 결제일 경우
	if($("input[type='checkbox']:visible").length == 0){
		
		//예약금 = 결제 금액
		$(".afterPrice").text(payPrice.toString());
		$("#afterPrice").val(payPrice.toString()); 
	}
	//그룹 결제일 경우
	else {
		dutchPrice();
	}
};

function memPointCount(){
	var memPoint = parseInt($(".memPoint").text());
	
	memPoint = memPoint - parseInt($(".usePoint").text());
	$("#memPoint").val(memPoint);
};

function pointCount(){
	
	//1인 결제
	if($("input[type='checkbox']:visible").length == 0){
		var revertCoupon = afterDutchTotalPrice - parseInt($(".usePoint").text());
		$(".afterPrice").text(revertCoupon.toString());
		
	}else{
		var afterPrice = parseInt($(".afterPrice").text());
		if(afterPrice > 0){
			afterPrice = afterPrice - parseInt($(".usePoint").text());
			
			$(".afterPrice").text(afterPrice.toString());
		}
	}
	
	memPointCount();
};
function couponDiscount(){
	pointCount();
	//모든 .couponNum의 name을 "coupon"으로 초기화
	$(".couponNum").attr("name", "coupon");
	//선택된 라디오 버튼의 값
	var selectedRadio = $("input[type=radio][name=selectCoupon]:checked").val();
	//선택된 라디오 버튼의 쿠폰 번호
	var selectedCoupon = $("input[type=radio][name=selectCoupon]:checked").closest("th").find(".couponNum");
	afterDutchPrice = parseInt($(".afterDutchPrice").text());
	afterPrice = parseInt($(".afterPrice").text());
	
	if(selectedRadio != undefined){
		var discountedPrice = 0;
		
		if(afterDutchPrice == 0){
			afterDutchPrice = afterDutchTotalPrice;
		}
		
		if(afterDutchPrice > 0){
			//쿠폰 적용 후 금액 (총 금액)
			
			// n% 할인
			if(selectedRadio < 99){
				
				discountedPrice = afterDutchPrice - afterDutchPrice * (selectedRadio / 100);
				
			}
			// n원 할인
			else if(selectedRadio >= 100){
				discountedPrice = afterDutchPrice - selectedRadio;
			}

			if(discountedPrice > 0){
				//<input type = "hidden" name = "coupon"> -> <name = "couponNum"> 변경
				$(selectedCoupon).attr("name", "couponNum");
				discountedPrice = Math.ceil(discountedPrice);
				
				//.afterPrice의 text 값 변경하기
				$(".afterPrice").text(discountedPrice);
			}else{
				$("input[name='selectCoupon']").prop('checked', false);
			}
			
		}
		else{
			//1인 결제
			if($("input[type='checkbox']:visible").length == 0){
				afterDutchTotalPrice = parseInt($(".afterPrice").text());
				discountedPrice = 0;
				//총금액
				//쿠폰 적용 후 금액 (총 금액)
				
				// n% 할인
				if(selectedRadio < 99){
					discountedPrice = afterDutchTotalPrice - afterDutchTotalPrice * (selectedRadio / 100);
				}
				// n원 할인
				else if(selectedRadio >= 100){
					discountedPrice = afterDutchTotalPrice - selectedRadio;
				}
				if(discountedPrice > 0){
					//<input type = "hidden" name = "coupon"> -> <name = "couponNum"> 변경
					$(selectedCoupon).attr("name", "couponNum");
					discountedPrice = Math.ceil(discountedPrice);
					//.afterPrice의 text 값 변경하기
					$(".afterPrice").text(discountedPrice);
				}else{
					$("input[name='selectCoupon']").prop('checked', false);
				}
				
			}else{
				$("input[name='selectCoupon']").prop('checked', false);
			}
			
		}
		
	}
}

function pointDiscount(memPoint){
	usePoint = parseInt( $(".usePoint").text(), 10); //사용 포인트
	afterPrice = parseInt($(".afterPrice").text()); //결제금액
	afterDutchPrice = parseInt($(".afterDutchPrice").text()); //더치페이 금액
	afterDutchTotalPrice = parseInt($("#afterDutchTotalPrice").text());

	//1인 결제
	if($("input[type='checkbox']:visible").length == 0){
		if(usePoint + 100 < memPoint && afterPrice >= 100){
			usePoint = usePoint + 100;
			
			$(".usePoint").text(usePoint);
			
			//1인 결제
			afterPrice = afterPrice - 100;
			$(".afterPrice").text(afterPrice);
		}
	}else{
		//사용자 포함 그룹 결제
		if(afterPrice > 0 && afterPrice - 100 <= afterDutchPrice ){
			if(usePoint < memPoint){
				usePoint = usePoint + 100;
				
				$(".usePoint").text(usePoint);
				
				afterPrice = afterPrice - 100;
				$(".afterPrice").text(afterPrice.toString());
			}
		}
		//사용자 제외 그룹 결제
		else if (afterDutchPrice == 0){
			if(afterPrice > 0 && afterPrice - 100 <= afterDutchTotalPrice ){
				if(usePoint < memPoint){
					usePoint = usePoint + 100;
					$(".usePoint").text(usePoint);
					afterPrice = afterPrice - 100;
					$(".afterPrice").text(afterPrice.toString());
				}
			}
		}
		
	}
	memPointCount();
}


function pointRevert(memPoint){
	var usePoint = parseInt( $(".usePoint").text(), 10); //사용 포인트
	afterPrice = parseInt($(".afterPrice").text()); //결제금액
	afterDutchPrice = parseInt($(".afterDutchPrice").text()); //더치페이 금액
	afterDutchTotalPrice = parseInt($("#afterDutchTotalPrice").text());

	//1인 결제
	if($("input[type='checkbox']:visible").length == 0){
		if(usePoint >= 100 && afterPrice + 100 <= afterDutchTotalPrice){
			usePoint = usePoint - 100;
			
			$(".usePoint").text(usePoint);
			
			//1인 결제
			afterPrice = afterPrice + 100;
			$(".afterPrice").text(afterPrice.toString());
		}
	}else{

		//그룹 결제
		if(usePoint > 0 && afterDutchPrice >= 100 + afterPrice){
			usePoint = usePoint - 100;
			
			$(".usePoint").text(usePoint);
			
			//1인 결제
			afterPrice = parseInt(afterPrice) + 100;
			
			$(".afterPrice").text(afterPrice.toString());
		}
		//사용자 제외 그룹 결제
		else if (afterDutchPrice == 0){
			if(afterPrice > 0 && afterPrice + 100 <= afterDutchTotalPrice ){
				if(usePoint < memPoint){
					usePoint = usePoint - 100;
					$(".usePoint").text(usePoint);
					afterPrice = afterPrice + 100;
					$(".afterPrice").text(afterPrice.toString());
				}
			}
		}
		
	}
	memPointCount();
}

function dutchPrice(){
	var memberCount = $(".checkBox:visible:checked").length;
	var memNum = $(".memNum").val();
	var withMem = false;
	afterDutchTotalPrice = parseInt($("#afterDutchTotalPrice").text());

	$(".checkBox:visible:checked").each(function(){
		if($(this).val() == memNum){
			withMem = true;
		}
	})
	
	if(memberCount == 0){
		afterDutchPrice = 0;
		afterPrice = 0;
	}else{
		afterDutchPrice = Math.round(afterDutchTotalPrice/memberCount);

		if(withMem){
			afterPrice = Math.round(afterDutchTotalPrice/memberCount);

			if(memberCount == 1){
				afterDutchTotalPrice = 0;
			}
		}else{
			$(".usePoint").text('0');
			$("input[name='selectCoupon']").prop('checked', false);
			$(".afterPrice").text(afterPrice);
			
			afterPrice = 0;
		}
		afterDutchPrice = Math.round(afterDutchTotalPrice/memberCount);
	}
	
	$(".afterDutchPrice").text((afterDutchPrice).toString());
	$(".afterPrice").text((afterPrice).toString());
}

function checkAll(){
	if($(".allCheckBox:visible:checked").length > 0){
		$(".checkBox").prop('checked', true);
	}else {
		$(".checkBox").prop('checked', false);
	}
	dutchPrice();
	couponDiscount();
	pointCount();
	payPrice();
}

function checkBox(){
	if( $(".checkBox:visible").not(':checked').length > 0){
		$(".allCheckBox").prop('checked', false);
	}else{
		$(".allCheckBox").prop('checked', true);
	}
	dutchPrice();
	couponDiscount();
	pointCount();
	payPrice();
}

function memberCheck(){
	afterPrice = parseInt($(".afterPrice").text());
	afterDutchPrice = parseInt($(".afterDutchPrice").text());
	
	$("#afterPrice").val(afterPrice);
	if(!isNaN(afterDutchPrice)){
		$("#afterDutchPrice").val(afterDutchPrice);
	}
	
	if($(".checkBox:visible:checked").length == 0 && $(".checkBox:visible").length > 0){
		alert("적어도 한 명 이상의 그룹원을 체크해주세요.");
		return false;
	}
}

</script>
</head>
<body>

<form action="/order/afterPayment" method="post" onsubmit="return memberCheck(); return a();">
	
	<input type = "hidden" name="memNum" th:value="${memNum}" class ="memNum">
	<input type = "hidden" name="groupNum" th:value="${dto.groupNum}">
	<input type="hidden" name="bookNum" th:value="${dto.bookNum}">
	<input type="hidden" name="themeNum" th:value="${dto.themeNum}"/>
	<input type="hidden" name="themeTime" th:value="${dto.themeTime}"/>
	<input type="hidden" name="depositPrice" class="depositPrice" th:value="${dto.depositPrice}"/>
	<input type = "hidden" name = "memPoint" id = "memPoint" th:value = "${memPoint}">
	<input type = "hidden" name="afterPrice" id = "afterPrice" value="">
	<input type = "hidden" name="afterDutchPrice" id ="afterDutchPrice" value="">
	
	<div style="width:800px;height:1200px;border:1px solid black;position:absolute;left:550px;" align=center>
		테마 명 : [[${dto.themeName}]]<br/>
		시간 : [[${dto.themeTime}]]<br/>
		<br>
		<br/>
		<div class="pointContent">
			<table border="1" style="width:200px;">
				<tr>
					<th>포인트 : <span class="memPoint">[[${memPoint}]]</span></th>
				</tr>
				<tr>
					<th>
					<button type ="button" th:attr="onclick=|pointRevert('${memPoint}');|"> - </button>
					사용 포인트: <span class="usePoint">0</span>
					<button type ="button" th:attr="onclick=|pointDiscount('${memPoint}');|"> + </button></th>
				</tr>
			</table>
		</div>
		<br>
	<div class="content">
		<!-- 쿠폰 적용 하는 부분 -->
		<div class="couponContent" style="overflow:scroll; width: 220px;height:200px;">
		<th:block th:each="list:${couponList}">
		<th:block th:if="${list!=null}">

				 <!-- <input type = "hidden" name = "couponNum" th:value = "${list.couponNum}"> -->
				<input type = "hidden" class = "expirationDate" name = "expirationDate" th:value = "${list.expirationDate}">
				<th:block th:if="${today < list.expirationDate}">
					<th:block th:if = "${list.couponStatus != '사용완료'}" >
					<table border = "1" width="200">
						<a th:href = "|/coupon/couponDetail?couponNum=${list.couponNum}|" style="text-decoration: none; color: black;">
						<tr>
							<th rowspan="2"><input type = "radio" name = "selectCoupon" th:value = "${list.discountRate}">
							<input type = "hidden" name = "coupon" class = "couponNum" th:value = "${list.couponNum}">
							</th>
							<th>[[${list.couponName}]]</th><td rowspan="2">[[${list.discountType}]]</td>
						</tr>
						<tr>
							<th><h1>[[${list.discountRate}]]
							<th:block th:if="${list.discountRate < 100}">%</th:block>
							<th:block th:if="${list.discountRate >= 100}">₩</th:block>
							</h1></th>
						</tr>
						</a>
						</table>
					</th:block>
				</th:block>
		
		</th:block>
		</th:block>
		</div>
		<table>
		<tr>
			<th colspan="3">
			<button type = "button" name = "useCoupon" class = "useCoupon">쿠폰 적용</button>
			<button type = "button" name = "noCoupon" class = "noCoupon">쿠폰 취소</button>
			</th>
		</tr>
		</table>
		
		
	</div>
	
	<br>
	<table border ="1" width="200">
		<tr>
			<th>총 금액 : <span id="totalPrice">[[${dto.finalPrice}]]</span>원<br/></th>
		</tr>
	</table>
	<table border = "1" width="200">
		<tr>
			<th>예약금: <span id="depositPrice">[[${dto.depositPrice}]]</span>원</th>
		</tr>
	</table>
	<br>
	<table border ="1" width="200">
		<tr>
			<th>후불 금액 : <span id="afterDutchTotalPrice"></span>원<br/></th>
		</tr>
	</table>
	
	<br>
		
		<div class = "memberCheckList">
		
			<table style="margin:20px; width:300px;" border="1">
			   <tr>
			       <td>그룹</td>
			       <td>[[${groupName}]]</td>
			   </tr>
			   <tr>
			   		<td><input type = "checkbox" onclick="checkAll();" class="allCheckBox"></td>
			   		<th>참여자</th>
			   </tr>
			   
			   <th:block th:each="groupDetailList:${groupDetailList}">
			   <tr>
			   		<td><input type = "checkbox" name = "dutchMember" class = "checkBox" onclick="checkBox();" th:value="${groupDetailList.memNum}"></td>
			   		<td colspan="2">[[${groupDetailList.memNickname}]]([[${groupDetailList.memName}]])</td>
			   </tr>
			   </th:block>
			  
			</table>
			<b>더치페이 금액</b><br>
			<span class = "afterDutchPrice">0</span><br>
			<br>
		
		</div>
		<table border = "1" width="200">
		<tr><th>결제 금액: <span class = "afterPrice">0</span>원</th></tr>
		</table>
		<br>
		<button type="submit" class = "payBtn">결제하기</button>
	</div>
</form>
</body>
</html>