<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
$(function(){
	var storeCrowded = "[[${storeCrowded}]]";
	var storeNum = "[[${dto.storeNum}]]";
	if(storeCrowded == '만석'){
		$.ajax({
			type: "post",
			url: "/book/getWaitNum",
			data: {"storeNum":storeNum},
			dataType: "text",
			success: function(result){
				$("#waitNum").text(result - 1);
				$("input[name=waitNum]").val(result);
			},
			error: function(){
				alert("directBook.html의 ajax 오류");
			}
		});
	}
});
function back(){
	window.location.reload();
}
</script>
</head>
<body>
<th:block th:if="${storeCrowded == '만석'}">
	현재 만석이므로 대기 번호가 부여됩니다. 바로 예약 하시겠습니까?<br/>
	현재 대기 인원 : <span id="waitNum"></span><br/>
	<form action="/book/setWaitNum" method="post">
		<input type="hidden" name="waitNum"/>
		<input type="hidden" name="storeNum" th:value="${dto.storeNum}"/>
		<input type="hidden" name="bookNum" th:value="${dto.bookNum}"/>
		<button type="submit">예약하기</button> | <button type="button" onclick="back()">뒤로가기</button>
	</form>
</th:block>

<th:block th:if="${storeCrowded == '여유'}">
	바로 예약하시겠습니까? 15분 내에 도착하셔야 합니다.<br/>
	<form action="/book/registThemeTime" method="post">
		<input type="hidden" name="bookNum" th:value="${dto.bookNum}"/>
		<input type="hidden" name="themeTime" value="바로예약"/>
		<button type="submit">예약하기</button> | <button type="button" onclick="back()">뒤로가기</button>
	</form>
</th:block>	
</body>
</html>