<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

</style>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
var themeTime = "[[${dto.themeTime}]]";
var bookNum = "[[${dto.bookNum}]]";

$(function(){
	if(themeTime == ("종일권")){
		$("#themeTime").html("<button type='button' th:attr='onclick=|allDayUse);|'>종일권</button>");
		$("#themeTime").click(function(){
			allDayUse();
		})
		
	}
	else{
		$("#themeTime").val("[[${dto.themeTime}]]");
	}
	$(".themeTimeBookBtn").css("display","none");
})

function allDayUse(){
	$(".themeTimeBookBtn").css("display","block");
	$("#themeTime").css("display","none");
	 /*$("#themeTime").html(
			 "<button type='button' onclick='timeBook()'>시간 예약</button><br/><button type='button' onclick='directBook()'>바로 예약</button>"
	 );*/
}

function timeBook(){
	$(".themeTimeBookBtn").css("display","none");
	$.ajax({
		type: "post",
		url: "/book/timeBook",
		data: {"bookNum" : bookNum},
		dataType: "html",
		success: function(result){
			$("#content").html(result);
		},
		error: function(){
			alert("오류");
		}
	});
}
function directBook(){
	$(".themeTimeBookBtn").css("display","none");
	$.ajax({
		type: "post",
		url: "/book/directBook",
		data: {"bookNum" : bookNum},
		dataType: "html",
		success: function(result){
			$("#content").html(result);
		},
		error: function(){
			alert("오류");
		}
	});
}
function bookCancle(){
	$.ajax({
		type: "post",
		url: "/book/bookNo",
		data: {"bookNum" : bookNum},
		success: function(){
			window.location.reload();
		},
		error: function(){
			alert("오류");
		}
	});
}
function reviewForm(bookNum){
	$.ajax({
		type: "post",
		url: "/review/reviewForm",
		data: {"bookNum" : bookNum},
		dataType: "html",
		success: function(result){
			$("#reviewContent").html(result);
		},
		error: function(){
			alert("오류");
		}
	});
}
function reviewDelete(reviewNum){
	$.ajax({
		type: "post",
		url: "/review/reviewDelete",
		data: {"reviewNum" : reviewNum},
		success: function(){
			window.location.reload();
		},
		error: function(){
			alert("오류");
		}
	});
}
</script>
</head>
<body>
<table border="1" align="center" width="600">
	<tr><th colspan="2">예약 내역</th></tr>
	<tr><td>예약 번호</td><td>[[${dto.bookNum}]]</td></tr>
	<tr><td>예약 내용</td><td>[[${dto.themeNum}]]</td></tr>
	<tr><td>예약 시간</td><td><span id="themeTime" >[[${dto.themeTime}]]</span>
							<button class="themeTimeBookBtn" onclick="timeBook()">시간예약</button>
							<button class="themeTimeBookBtn" onclick="directBook()">바로예약</button>
							<div id="content"></div></td></tr>
	<th:block th:if="${dto.bookStatus} != '방문완료' and ${dto.bookStatus} != '예약취소'">
		<tr><th colspan="2" th:attr="onclick=|bookCancle('${dto.bookNum}')|"><button>예약 취소</button></th></tr>
	</th:block>
	<th:block th:if="${dto.bookStatus} == '예약취소'">
		<tr><th colspan="2">예약이 취소되었습니다.</th></tr>
	</th:block>
	<th:block th:if="${dto.bookStatus} == '방문완료'">
		<th:block th:if="${reviewDTO == null}">
			<tr><th colspan="2"><span id="reviewContent"><button th:attr="onclick=|reviewForm('${dto.bookNum}');|">리뷰 작성</button></span></th></tr>
		</th:block>
		<th:block th:if="${reviewDTO != null}">
			<tr><td colspan="2">
				<textarea cols="60" rows="5" readonly="readonly">
					[[${reviewDTO.reviewContents}]]
				</textarea>
			</td></tr>
			<tr><th colspan="2"><button type="button" th:attr="onclick=|reviewDelete('${reviewDTO.reviewNum}')|">삭제</button></th></tr>
		</th:block>
	</th:block>
</body>
</html>