<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
// 예약 시간의 기본 값은 현재 시간으로 설정

$("#currentTime").val();
function timeCheck(booll){
	var start = new Date().getTime();
	alert(start);
	// 선택된 예약 시간이 현재 시간보다 2시간 뒤라면
	if(false) return true;
	else{
		alert("2시간 이후 시간부터 예약이 가능합니다.");
		return false;
	}
}
</script>
</head>
<body>
시간 선택<br/>
<form action="/book/registThemeTime" method="post" onsubmit="return timeCheck();">
<input type="hidden" name="bookNum" th:value="${bookNum}"/>
<input type="time" name="themeTime" id='currentTime'/><br/>
<button type="submit">예약하기</button>




</form>

<button>뒤로가기</button>
</body>
</html>