<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
var time = new Date().toISOString().slice(11, 16);
$(function(){
	// 예약 시간의 기본 값은 현재 시간으로 설정
	$("#currentTime").val(time);
});

function timeCheck(){
	var choiceTime = $("input[name=themeTime]").val();
	var a = time.slice(0,2).slice(1,2);
	var bookCan = '0' + (Number(a) + 2);
	// 선택한 시간이 현재 시간보다 2시간 뒤라면 예약 가능
	if(choiceTime.slice(0,2) > bookCan) return true;
	else{
		alert("현재 시간으로부터 2시간 이후로 예약 가능합니다");
		return false;
	}

}
function back(){
	window.location.reload();
}
</script>
</head>
<body>
시간 선택<br/>
<form action="/book/registThemeTime" method="post" onsubmit="return timeCheck();">
	<input type="hidden" name="bookNum" th:value="${bookNum}"/>
	<input type="time" name="themeTime" id="currentTime"/><br/>
	<input type="submit" value="예약하기"/>
</form>

<button type="button" onclick="back();">뒤로가기</button>
</body>
</html>