<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
내 정보 페이지<br />

<li><a href="/">홈으로</a></li>
<li><a href="memberModify"></a></li>
<table border="2" width = 600 align="center">
<tr><td>이름</td>
	<td>[[${memberCommand.memName}]]</td></tr>

<tr><td>아이디</td>
	<td>[[${memberCommand.}]]</td></tr>

<tr><td>성별</td>
	<td><span th:if="${memberCommand.gender =='M'}">남자</span>
		<span th:if="${memberCommand.gender =='F'}">여자</span></td></tr>

<tr><td>생년월일</td>
	<td>[[${memberCommand.memBirth}]]</td></tr>

<tr><td>전화번호</td>
	<td>[[${memberCommand.memPhone}]]</td></tr>

<tr><td>이메일</td>
	<td>[[${memberCommand.}]]</td></tr>
</table>
</body>
</html>