<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
function memberDelete(memNum){
	$.ajax({
		type : 'post',
		url : "/member/memberDelete",
		data : {'memNum' : memNum},
		success : function(){
			
		}
	});
};
</script>
</head>
<body>
<table border="1" width="600" align="center">
<input type="hidden" name="memNum" />
<tr><td align="center" colspan="2">계정을 삭제하시겠습니까?</td></tr>
<tr><td align="center">

	<button type="button" th:attr="onclick=|memberDelete('${memberCommand.memNum}')|">예</button> | 
	<button type="button" onclick="location.href='memberMainPage'">아니오</button>
</td></tr>

</table>
</body>
</html>