<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script type="text/javascript">
$(function(){
	$("#frm").submit(function(){
		$(this).ajaxSubmit({
			type : 'post',
			url : "memberPwUpdate",
			dataType : 'text',
			beforeSubmit : passwordChecked,
			success : resultOk,
			error : function(){
				alert("서버오류")
			}
		});
		return false;
	});
});




function resultOk(result, status, xhr, $form){
	if(status == 'success'){
		if(result == "true"){
			location.href="myDetail";
		}else{
			$("#oldPw").val("");
			$("#pwErr").text("비밀번호가 틀렸습니다");
			$("#pwErr").css("color", "red");
			$("#newPwErr").text("");
			$("#pwConErr").text("");
			$("#oldPw").focus("");
		}
	}
}
function passwordChecked(){
	if($("#oldPw").val() == ""){
		$("#pwErr").text("현재 비밀번호를 입력해 주세요");
		$("#pwErr").css("color", "red");
		return false;
	}
	
	if($("#newPw").val() != ""){	// 새 비밀번호를 입력했는지 유효성 검사하기
		// 새 비밀번호를 입력했다면 비밀번호 확인과 비교
		if($("#newPw").val() != $("#newPwCon").val()){
			$("#newPwErr").text("");
			$("#pwConErr").text("비밀번호가 다릅니다.");
			$("#pwConErr").css("color", "red");
			$("#newPw").val("");
			$("#newPwCon").val("");
			$("#newPw").focus();
			return false;
		}
	}else{
		$("#newPwErr").text("새 비밀번호를 입력해주세요.");
		$("#newPwErr").css("color", "red");
		return false;
	}
}
</script>
</head>
<body>
<form action="memberPwUpdate" method="post" name="from" id="frm">
<table border="1" width="600" align="center">
<tr>
	<td>현재 비밀번호</td><td><input type="password" name="oldPw" id="oldPw"  required="required" />
					<span id="pwErr"></span></td></tr>

<tr>
	<td>새 비밀번호</td><td><input type="password" name="newPw" id="newPw" required="required" />
					<span id="newPwErr"></span></td></tr>

<tr>
	<td>새 비밀번호 확인</td><td><input type="password" name="newPwCon" id="newPwCon" required="required" />
					<span id="pwConErr"></span></td></tr>

<tr>
	<td colspan="2" align="center"><input type="submit" value="비밀번호 변경" /></td></tr>
	
</table>
</form>
</body>
</html>