<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ownerForm</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type = "text/javascript">
$(function(){	
	let idAvailable = false;  // 아이디 중복 여부
    let emailAvailable = false;  // 이메일 중복 여부
	
	// 아이디 중복 검사
	$("#ownerId").on("change keyup", function(){
		$.ajax({
			type : 'post',
			url : "/login/userIdCheck",
			data : {"userId" : $("#ownerId").val()},
			dataType : 'text',
			success: function(result){
				$("#idCheck").text(result)
				if(result.trim() == "사용가능한 아이디입니다.") {
					$("#idCheck").css("color", "blue");
					idAvailable = true;  
				}else{
					$("#idCheck").css("color", "red");
					idAvailable = false;  
				}
				
			},
			error: function(){}
		})
	});
	// 이메일 중복 체크
	$("#ownerEmail").on("change keyup", function(){
		$.ajax({
			type : "post",
			url : "/login/userEmailCheck",
			dataType : 'text',
			data : {"userEmail" : $("#ownerEmail").val()},
			success:function(result){
				$("#emailCheck").text(result)
				if(result.trim() == "사용가능한 이메일입니다.") {
					$("#emailCheck").css("color", "blue");
					emailAvailable = true;
				}else{
					$("#emailCheck").css("color", "red");
					emailAvailable = false;
				}
			},
			error : function(){
				alert("서버 오류");
			}
		})
	});
	
	// 폼 제출 시 아이디와 이메일 중복 검사
    $("form").on("submit", function() {
        if (!idAvailable) {
            alert("아이디가 중복되었습니다. 다른 아이디를 사용해주세요.");
            return false;  
        }
        if (!emailAvailable) {
            alert("이메일이 중복되었습니다. 다른 이메일을 사용해주세요.");
            return false;  
        }
        return true;  
    });
});
</script>
</head>
<body>
<h1>사장님 회원가입</h1>
<form action = "ownerForm" method = "post" th:object = "${ownerCommand}" onsubmit="return FormCheck" >
<table align="center" border="1">
	<tr><td>아이디:</td><td><input type = "text" placeholder="아이디" th:field="*{ownerId}" id="ownerId">
		<span id="idCheck"></span></td></tr>
	<tr><td>비밀번호:</td><td><input type = "password" placeholder="비밀번호" th:field="*{ownerPw}"></td></tr>
	<tr><td>이름:</td><td><input type = "text" placeholder = "이름" th:field="*{ownerName}"></td></tr>
	<tr><td>생년월일:</td><td><input type = "date" placeholder = "생년월일" name = "ownerBirth"></td></tr>
	<tr><td>이메일:</td><td><input type= "email" placeholder="이메일" th:field="*{ownerEmail}" id="ownerEmail">
		<span id="emailCheck"></span></td></tr>
	<tr><td>전화번호:</td><td><input type = "tel" placeholder="전화번호" th:field="*{ownerPhone}"></td></tr>
	<tr><td colspan="2"><input type = "submit" value = "등록"></td></tr>
</table>
</form>
</body>
</html>