<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메뉴 등록</title>
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
var timeInput = "<input type='text' size='4' name='themeTime'/>";
var item = timeInput;
$(function(){

})

function themeTimeAdd(){
	$("#item").append(timeInput);
}
function partType(){
	var plusBtn = "<input type='button' onclick='themeTimeAdd();' value='+'";
	if($("#tr").length){
		$("#tr").remove();
		$("#timeType").append("<tr id='tr'><td colspan='2'>" + "<span id='item'></span>" + plusBtn + "</td></tr>");
	}
	else{
		$("#timeType").append("<tr id='tr'><td colspan='2'>" + "<span id='item'></span>" + plusBtn + "</td></tr>");
	}
	
}
function allType(){
	if($("#tr").length){
		$("#tr").remove();
		$("#timeType").append("<tr id='tr'><td colspan='2'>종일권을 선택하셨습니다.<input type='hidden' name='themeTime' value='종일권'/></td></tr>");
	}
	else{
		$("#timeType").append("<tr id='tr'><td colspan='2'>종일권을 선택하셨습니다.<input type='hidden' name='themeTime' value='종일권'/></td></tr>");
	}
}
</script>
</head>
<body>
<form action="/theme/themeAdd" method="post" enctype="multipart/form-data">
<table border="1" width="400"  id="timeType">
	<tr><th colspan="2">테마 등록</th></tr>
	<tr><td>테마명</td><td><input type="text" name="themeName" /></td></tr>
	<tr><td>테마 설명</td><td><textarea rows="5" cols="20" name="themeIntroduction"></textarea></td></tr>
	<tr><td>테마 이미지</td><td><input type="file" name="themeImage" /></td></tr>
	<tr><td>가격</td><td><input type="number" name="themePrice" /></td></tr>
	<tr><td>제한 인원</td><td><input type="number" name="limitPeople" /></td></tr>
	<tr><td>타임</td><td><button type="button" onclick="partType();">타임별</button>
						<button type="button" onclick="allType();">종일권</button></td></tr>
</table>
<table border="1" width="400">
	<tr><th colspan="2"><input type="submit" value="등록" /></th></tr>
</table>
</form>
</body>
</html>